In [1]:
# Set recommended library versions
# !pip install tensorflow==1.15.0
# !pip install keras==2.1.4
# !pip install pandas==1.0.4

import tensorflow as tf
tf.__version__

'1.15.0'

# Run scDeepCluster on the simulated data

In [2]:
"""
This part implements the scDeepCluster algoritm
"""

from time import time
import numpy as np
from keras.models import Model
import keras.backend as K
from keras.engine.topology import Layer, InputSpec
from keras.layers import Dense, Input, GaussianNoise, Layer, Activation
from keras.models import Model
from keras.optimizers import SGD, Adam
from keras.utils.vis_utils import plot_model
from keras.callbacks import EarlyStopping
import pandas as pd
from sklearn.cluster import KMeans
from sklearn import metrics

import h5py
import scanpy.api as sc
from scDeepCluster_layers import ConstantDispersionLayer, SliceLayer, ColWiseMultLayer
from sklearn.metrics import adjusted_rand_score, normalized_mutual_info_score, silhouette_score
from scDeepCluster_loss import poisson_loss, NB, ZINB
from scDeepCluster_preprocess import read_dataset, normalize
import tensorflow as tf

from numpy.random import seed
seed(2211)
# tf.random.set_seed(2211)
from tensorflow import set_random_seed
set_random_seed(2211)

MeanAct = lambda x: tf.clip_by_value(K.exp(x), 1e-5, 1e6)
DispAct = lambda x: tf.clip_by_value(tf.nn.softplus(x), 1e-4, 1e4)

def cluster_acc(y_true, y_pred):
    """
    Calculate clustering accuracy. Require scikit-learn installed
    # Arguments
        y: true labels, numpy.array with shape `(n_samples,)`
        y_pred: predicted labels, numpy.array with shape `(n_samples,)`
    # Return
        accuracy, in [0,1]
    """
    y_true = y_true.astype(np.int64)
    assert y_pred.size == y_true.size
    D = max(y_pred.max(), y_true.max()) + 1
    w = np.zeros((D, D), dtype=np.int64)
    for i in range(y_pred.size):
        w[y_pred[i], y_true[i]] += 1
    from sklearn.utils.linear_assignment_ import linear_assignment
    ind = linear_assignment(w.max() - w)
    return sum([w[i, j] for i, j in ind]) * 1.0 / y_pred.size


def autoencoder(dims, noise_sd=0, init='glorot_uniform', act='relu'):
    """
    Fully connected auto-encoder model, symmetric.
    Arguments:
        dims: list of number of units in each layer of encoder. dims[0] is input dim, dims[-1] is units in hidden layer.
            The decoder is symmetric with encoder. So number of layers of the auto-encoder is 2*len(dims)-1
        act: activation, not applied to Input, Hidden and Output layers
    return:
        Model of autoencoder
    """
    n_stacks = len(dims) - 1
    # input
    sf_layer = Input(shape=(1,), name='size_factors')
    x = Input(shape=(dims[0],), name='counts')
    h = x
    h = GaussianNoise(noise_sd, name='input_noise')(h)
 
    # internal layers in encoder
    for i in range(n_stacks-1):
        h = Dense(dims[i + 1], kernel_initializer=init, name='encoder_%d' % i)(h)
        h = GaussianNoise(noise_sd, name='noise_%d' % i)(h)    # add Gaussian noise
        h = Activation(act)(h)
    # hidden layer
    h = Dense(dims[-1], kernel_initializer=init, name='encoder_hidden')(h)  # hidden layer, features are extracted from here

    # internal layers in decoder
    for i in range(n_stacks-1, 0, -1):
        h = Dense(dims[i], activation=act, kernel_initializer=init, name='decoder_%d' % i)(h)

    # output
 
    pi = Dense(dims[0], activation='sigmoid', kernel_initializer=init, name='pi')(h)

    disp = Dense(dims[0], activation=DispAct, kernel_initializer=init, name='dispersion')(h)

    mean = Dense(dims[0], activation=MeanAct, kernel_initializer=init, name='mean')(h)

    output = ColWiseMultLayer(name='output')([mean, sf_layer])
    output = SliceLayer(0, name='slice')([output, disp, pi])

    return Model(inputs=[x, sf_layer], outputs=output)


class ClusteringLayer(Layer):
    """
    Clustering layer converts input sample (feature) to soft label, i.e. a vector that represents the probability of the
    sample belonging to each cluster. The probability is calculated with student's t-distribution.
    # Example
    ```
        model.add(ClusteringLayer(n_clusters=10))
    ```
    # Arguments
        n_clusters: number of clusters.
        weights: list of Numpy array with shape `(n_clusters, n_features)` witch represents the initial cluster centers.
        alpha: parameter in Student's t-distribution. Default to 1.0.
    # Input shape
        2D tensor with shape: `(n_samples, n_features)`.
    # Output shape
        2D tensor with shape: `(n_samples, n_clusters)`.
    """

    def __init__(self, n_clusters, weights=None, alpha=1.0, **kwargs):
        if 'input_shape' not in kwargs and 'input_dim' in kwargs:
            kwargs['input_shape'] = (kwargs.pop('input_dim'),)
        super(ClusteringLayer, self).__init__(**kwargs)
        self.n_clusters = n_clusters
        self.alpha = alpha
        self.initial_weights = weights
        self.input_spec = InputSpec(ndim=2)

    def build(self, input_shape):
        assert len(input_shape) == 2
        input_dim = input_shape[1]
        self.input_spec = InputSpec(dtype=K.floatx(), shape=(None, input_dim))
        self.clusters = self.add_weight(shape = (self.n_clusters, input_dim), 
                                        initializer='glorot_uniform',
                                        name='clusters')
        if self.initial_weights is not None:
            self.set_weights(self.initial_weights)
            del self.initial_weights
        self.built = True

    def call(self, inputs, **kwargs):
        """ student t-distribution, as same as used in t-SNE algorithm.
                 q_ij = 1/(1+dist(x_i, u_j)^2), then normalize it.
        Arguments:
            inputs: the variable containing data, shape=(n_samples, n_features)
        Return:
            q: student's t-distribution, or soft labels for each sample. shape=(n_samples, n_clusters)
        """
        q = 1.0 / (1.0 + (K.sum(K.square(K.expand_dims(inputs, axis=1) - self.clusters), axis=2) / self.alpha))
        q **= (self.alpha + 1.0) / 2.0
        q = K.transpose(K.transpose(q) / K.sum(q, axis=1))
        return q

    def compute_output_shape(self, input_shape):
        assert input_shape and len(input_shape) == 2
        return input_shape[0], self.n_clusters

    def get_config(self):
        config = {'n_clusters': self.n_clusters}
        base_config = super(ClusteringLayer, self).get_config()
        return dict(list(base_config.items()) + list(config.items()))



class SCDeepCluster(object):
    def __init__(self,
                 dims,
                 n_clusters=10,
                 noise_sd=0,
                 alpha=1.0,
                 ridge=0,
                 debug=False):

        super(SCDeepCluster, self).__init__()

        self.dims = dims
        self.input_dim = dims[0]
        self.n_stacks = len(self.dims) - 1

        self.n_clusters = n_clusters
        self.noise_sd = noise_sd
        self.alpha = alpha
        self.act = 'relu'
        self.ridge = ridge
        self.debug = debug
        self.autoencoder = autoencoder(self.dims, noise_sd=self.noise_sd, act = self.act)
        
        # prepare clean encode model without Gaussian noise
        ae_layers = [l for l in self.autoencoder.layers]
        hidden = self.autoencoder.input[0]
        for i in range(1, len(ae_layers)):
            if "noise" in ae_layers[i].name:
                next
            elif "dropout" in ae_layers[i].name:
                next
            else:
                hidden = ae_layers[i](hidden)
            if "encoder_hidden" in ae_layers[i].name:  # only get encoder layers
                break
        self.encoder = Model(inputs=self.autoencoder.input, outputs=hidden)

        pi = self.autoencoder.get_layer(name='pi').output
        disp = self.autoencoder.get_layer(name='dispersion').output
        mean = self.autoencoder.get_layer(name='mean').output
        zinb = ZINB(pi, theta=disp, ridge_lambda=self.ridge, debug=self.debug)
        self.loss = zinb.loss

        clustering_layer = ClusteringLayer(self.n_clusters, alpha=self.alpha, name='clustering')(hidden)
        self.model = Model(inputs=[self.autoencoder.input[0], self.autoencoder.input[1]],
                           outputs=[clustering_layer, self.autoencoder.output])

        self.pretrained = False
        self.centers = []
        self.y_pred = []

    def pretrain(self, x, y, batch_size=256, epochs=200, optimizer='adam', ae_file='ae_weights.h5'):
        print('...Pretraining autoencoder...')
        self.autoencoder.compile(loss=self.loss, optimizer=optimizer)
        es = EarlyStopping(monitor="loss", patience=50, verbose=1)
        self.autoencoder.fit(x=x, y=y, batch_size=batch_size, epochs=epochs, callbacks=[es], verbose = 0)
        self.autoencoder.save_weights(ae_file)
        print('Pretrained weights are saved to ./' + str(ae_file))
        self.pretrained = True

    def load_weights(self, weights_path):  # load weights of scDeepCluster model
        self.model.load_weights(weights_path)

    def extract_feature(self, x):  # extract features from before clustering layer
        return self.encoder.predict(x)

    def predict_clusters(self, x):  # predict cluster labels using the output of clustering layer
        q, _ = self.model.predict(x, verbose=0)
        return q.argmax(1)

    @staticmethod
    def target_distribution(q):  # target distribution P which enhances the discrimination of soft label Q
        weight = q ** 2 / q.sum(0)
        return (weight.T / weight.sum(1)).T

    def fit(self, x_counts, sf, y, raw_counts, batch_size=256, maxiter=2e4, tol=1e-3, update_interval=140,
            ae_weights=None, save_dir='./output/pickle_results/scDeepCluster', loss_weights=[1,1], optimizer='adadelta'):

        self.model.compile(loss=['kld', self.loss], loss_weights=loss_weights, optimizer=optimizer)

        print('Update interval', update_interval)
        save_interval = int(x_counts.shape[0] / batch_size) * 5  # 5 epochs
        print('Save interval', save_interval)

        # Step 1: pretrain
        if not self.pretrained and ae_weights is None:
            print('...pretraining autoencoders using default hyper-parameters:')
            print('   optimizer=\'adam\';   epochs=200')
            self.pretrain(x, batch_size)
            self.pretrained = True
        elif ae_weights is not None:
            self.autoencoder.load_weights(ae_weights)
            print('ae_weights is loaded successfully.')

        # Step 2: initialize cluster centers using k-means
        print('Initializing cluster centers with k-means.')
        kmeans = KMeans(n_clusters=self.n_clusters, n_init=20)
        self.y_pred = kmeans.fit_predict(self.encoder.predict([x_counts, sf]))
        y_pred_last = np.copy(self.y_pred)
        self.model.get_layer(name='clustering').set_weights([kmeans.cluster_centers_])

        # Step 3: deep clustering
        # logging file
        import csv, os
        if not os.path.exists(save_dir):
            os.makedirs(save_dir)
        logfile = open(save_dir + '/scDeepCluster_log.csv', 'w')
        logwriter = csv.DictWriter(logfile, fieldnames=['iter', 'acc', 'nmi', 'ari', 'L', 'Lc', 'Lr'])
        logwriter.writeheader()

        loss = [0, 0, 0]
        index = 0
        for ite in range(int(maxiter)):
            if ite % update_interval == 0:
                q, _ = self.model.predict([x_counts, sf], verbose=0)
                p = self.target_distribution(q)  # update the auxiliary target distribution p

                # evaluate the clustering performance
                self.y_pred = q.argmax(1)
                if y is not None:
#                     acc = np.round(cluster_acc(y, self.y_pred), 5)
                    nmi = np.round(metrics.normalized_mutual_info_score(y, self.y_pred), 5)
                    ari = np.round(metrics.adjusted_rand_score(y, self.y_pred), 5)
                    loss = np.round(loss, 5)
                    
                # check stop criterion
                delta_label = np.sum(self.y_pred != y_pred_last).astype(np.float32) / self.y_pred.shape[0]
                y_pred_last = np.copy(self.y_pred)
                if ite > 0 and delta_label < tol:
                    print('delta_label ', delta_label, '< tol ', tol)
                    print('Reached tolerance threshold. Stopping training.')
                    logfile.close()
                    break

            # train on batch
            if (index + 1) * batch_size > x_counts.shape[0]:
                loss = self.model.train_on_batch(x=[x_counts[index * batch_size::], sf[index * batch_size:]],
                                                 y=[p[index * batch_size::], raw_counts[index * batch_size::]])
                index = 0
            else:
                loss = self.model.train_on_batch(x=[x_counts[index * batch_size:(index + 1) * batch_size], 
                                                    sf[index * batch_size:(index + 1) * batch_size]],
                                                 y=[p[index * batch_size:(index + 1) * batch_size],
                                                    raw_counts[index * batch_size:(index + 1) * batch_size]])
                index += 1

            # save intermediate model
#             if ite % save_interval == 0:
#                 # save scDeepCluster model checkpoints
#                 print('saving model to: ' + save_dir + '/scDeepCluster_model_' + str(ite) + '.h5')
#                 self.model.save_weights(save_dir + '/scDeepCluster_model_' + str(ite) + '.h5')

            ite += 1

        # save the trained model
        logfile.close()
        print('saving model to: ' + save_dir + '/scDeepCluster_model_final.h5')
        self.model.save_weights(save_dir + '/scDeepCluster_model_final.h5')
        
        return self.y_pred

Using TensorFlow backend.

WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

/opt/conda/lib/python3.7/site-packages/scanpy/api/__init__.py:7: FutureWarning:

In a future version of Scanpy, `scanpy.api` will be removed.
Simply use `import scanpy as sc` and `import scanpy.external as sce` instead.

  FutureWarning,

In [3]:
import sys
sys.path.append("..")
import glob2
import os
# import time

In [4]:
for category in [#"real_data", 
                 "balanced_data", "imbalanced_data"]:

    path = ".."
    if category in ["balanced_data", "imbalanced_data"]:
        files = glob2.glob(f'{path}/R/simulated_data/{category}/*.h5')
        files = [
            f[len(f"{path}/R/simulated_data/{category}/"):-3] for f in files
        ]
    else:
        files = glob2.glob(f'{path}/real_data/*.h5')
        files = [f[len(f"{path}/real_data/"):-3] for f in files]
        files = [
            'worm_neuron_cell',
            'mouse_ES_cell',
            'mouse_bladder_cell',
            '10X_PBMC',
            'Quake_10x_Bladder',
            'Young',
            'Quake_10x_Limb_Muscle',
            'Adam',
            'Quake_Smart-seq2_Trachea',
            'Quake_Smart-seq2_Limb_Muscle',
            'Quake_Smart-seq2_Lung',
            'Romanov',
            'Muraro',
            'Quake_Smart-seq2_Diaphragm',
            'Quake_10x_Spleen',
        ]
    print(files)

    df = pd.DataFrame(
        columns=["dataset", "ARI", "NMI", "sil", "run", "time", "pred"])
    for dataset in files:
        if category in ["balanced_data", "imbalanced_data"]:
            data_mat = h5py.File(
                f"{path}/R/simulated_data/{category}/{dataset}.h5", "r")
        else:
            data_mat = h5py.File(f"{path}/real_data/{dataset}.h5", "r")

        y = np.array(data_mat['Y'])
        x = np.array(data_mat['X'])
        print(f">>>>dataset {dataset}")

        for run in range(2):
            start = time()
            #### Run scDeepCluster on the simulated data
            x = np.ceil(x).astype(np.int)
            optimizer1 = Adam(amsgrad=True)
            optimizer2 = 'adadelta'

            # preprocessing scRNA-seq read counts matrix
            adata = sc.AnnData(x)
            adata.obs['Group'] = y

            adata = read_dataset(adata,
                                 transpose=False,
                                 test_split=False,
                                 copy=True)

            adata = normalize(adata,
                              size_factors=True,
                              normalize_input=True,
                              logtrans_input=True)

            input_size = adata.n_vars

            print('Sample size')
            print(adata.X.shape)
            print(y.shape)

            x_sd = adata.X.std(0)
            x_sd_median = np.median(x_sd)

            update_interval = int(adata.X.shape[0] / 256)

            seed = run
            np.random.seed(seed)
            # Define scDeepCluster model
            scDeepCluster = SCDeepCluster(dims=[input_size, 256, 64, 32],
                                          n_clusters=np.unique(y).shape[0],
                                          noise_sd=2.5)

            t0 = time()

            # Pretrain autoencoders before clustering
            scDeepCluster.pretrain(x=[adata.X, adata.obs.size_factors],
                                               y=adata.raw.X,
#             scDeepCluster.pretrain(x=[adata.X, adata.obs.size_factors],
#                                    y=x[:,
#                                        np.array(adata.var_names).astype(int)],
                                   batch_size=256,
                                   epochs=600,
                                   optimizer=optimizer1,
                                   ae_file='ae_weights.h5')

            # begin clustering, time not include pretraining part.

            gamma = 1.  # set hyperparameter gamma
            scDeepCluster.fit(
                x_counts=adata.X,
                sf=adata.obs.size_factors,
                y=y,
#                 raw_counts=x[:, np.array(adata.var_names).astype(int)],
                raw_counts=adata.raw.X,
                batch_size=256,
                tol=0.001,
                maxiter=20000,
                update_interval=update_interval,
                ae_weights=None,
                save_dir='scDeepCluster',
                loss_weights=[gamma, 1],
                optimizer=optimizer2)

            # Show the final results
            y_pred = scDeepCluster.y_pred
            nmi = np.round(
                metrics.normalized_mutual_info_score(y, scDeepCluster.y_pred),
                5)
            ari = np.round(
                metrics.adjusted_rand_score(y, scDeepCluster.y_pred), 5)
            print('Final: NMI= %.4f, ARI= %.4f' % (nmi, ari))
            print('Clustering time: %d seconds.' % int(time() - t0))

            elapsed = time() - start
            ss = silhouette_score(adata.X, scDeepCluster.y_pred)

            df.loc[df.shape[0]] = [
                dataset, ari, nmi, ss, run, elapsed, scDeepCluster.y_pred
            ]

            df.to_pickle(
                f"../output/pickle_results/{category}/{category}_scDeepCluster.pkl"
            )
            display(df)

['data_0c8', 'data_1c4', 'data_0c16', 'data_1.5c16', 'data_0c4', 'data_1.5c4', 'data_1.5c8', 'data_-1c16', 'data_1c16', 'data_1c8', 'data_-1c8', 'data_-1c4']
>>>>dataset data_0c8
### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2490)
(2000,)
WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:504: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:126: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3805: The name tf.random_normal is deprecated. Please use tf.random.normal instead.

WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3828: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

...Pretraining autoencoder...
WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/optimizers.py:752: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /workspace/notebooks/contrastive-sc/others/scDeepCluster_loss.py:87: The name tf.lgamma is deprecated. Please use tf.math.lgamma instead.

WARNING:tensorflow:From /workspace/notebooks/contrastive-sc/others/scDeepCluster_loss.py:88: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /workspace/notebooks/contrastive-sc/others/scDeepCluster_loss.py:10: The name tf.is_nan is deprecated. Please use tf.math.is_nan instead.

WARNING:tensorflow:From /workspace/notebooks/contrastive-sc/others/scDeepCluster_loss.py:10: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:973: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:960: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:2496: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:166: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:171: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:180: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:189: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:196: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.2708, ARI= 0.1549
Clustering time: 473 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2490)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0005 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.2735, ARI= 0.1679
Clustering time: 470 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."

>>>>dataset data_1c4
### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2480)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0407, ARI= 0.0276
Clustering time: 238 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2480)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0774, ARI= 0.0583
Clustering time: 236 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."

>>>>dataset data_0c16
### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2491)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.1555, ARI= 0.0629
Clustering time: 972 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2491)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.00075 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.1445, ARI= 0.0531
Clustering time: 1343 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."

>>>>dataset data_1.5c16
### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2481)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.0005 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0189, ARI= 0.0030
Clustering time: 983 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2481)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.00025 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0159, ARI= 0.0015
Clustering time: 1309 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."

>>>>dataset data_0c4
### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2487)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.1973, ARI= 0.1550
Clustering time: 242 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2487)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.5245, ARI= 0.5308
Clustering time: 251 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."

>>>>dataset data_1.5c4
### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2471)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0586, ARI= 0.0433
Clustering time: 251 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."
10,data_1.5c4,0.04335,0.05856,-0.009823,0,251.275283,"[2, 3, 2, 2, 3, 2, 1, 3, 2, 0, 0, 0, 1, 3, 3, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2471)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0073, ARI= 0.0038
Clustering time: 249 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."
10,data_1.5c4,0.04335,0.05856,-0.009823,0,251.275283,"[2, 3, 2, 2, 3, 2, 1, 3, 2, 0, 0, 0, 1, 3, 3, ..."
11,data_1.5c4,0.00379,0.00731,-0.010813,1,250.038381,"[1, 2, 2, 1, 2, 3, 0, 2, 3, 2, 3, 2, 0, 1, 0, ..."

>>>>dataset data_1.5c8
### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2477)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0005 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0400, ARI= 0.0169
Clustering time: 486 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."
10,data_1.5c4,0.04335,0.05856,-0.009823,0,251.275283,"[2, 3, 2, 2, 3, 2, 1, 3, 2, 0, 0, 0, 1, 3, 3, ..."
11,data_1.5c4,0.00379,0.00731,-0.010813,1,250.038381,"[1, 2, 2, 1, 2, 3, 0, 2, 3, 2, 3, 2, 0, 1, 0, ..."
12,data_1.5c8,0.01688,0.04003,-0.008987,0,487.141639,"[2, 6, 0, 2, 5, 6, 1, 5, 3, 3, 4, 4, 6, 1, 3, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2477)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0005 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0201, ARI= 0.0070
Clustering time: 487 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."
10,data_1.5c4,0.04335,0.05856,-0.009823,0,251.275283,"[2, 3, 2, 2, 3, 2, 1, 3, 2, 0, 0, 0, 1, 3, 3, ..."
11,data_1.5c4,0.00379,0.00731,-0.010813,1,250.038381,"[1, 2, 2, 1, 2, 3, 0, 2, 3, 2, 3, 2, 0, 1, 0, ..."
12,data_1.5c8,0.01688,0.04003,-0.008987,0,487.141639,"[2, 6, 0, 2, 5, 6, 1, 5, 3, 3, 4, 4, 6, 1, 3, ..."
13,data_1.5c8,0.00701,0.02007,-0.009984,1,487.751352,"[6, 1, 5, 1, 1, 2, 5, 1, 7, 3, 7, 7, 2, 0, 7, ..."

>>>>dataset data_-1c16
### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2494)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.4582, ARI= 0.2295
Clustering time: 996 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."
10,data_1.5c4,0.04335,0.05856,-0.009823,0,251.275283,"[2, 3, 2, 2, 3, 2, 1, 3, 2, 0, 0, 0, 1, 3, 3, ..."
11,data_1.5c4,0.00379,0.00731,-0.010813,1,250.038381,"[1, 2, 2, 1, 2, 3, 0, 2, 3, 2, 3, 2, 0, 1, 0, ..."
12,data_1.5c8,0.01688,0.04003,-0.008987,0,487.141639,"[2, 6, 0, 2, 5, 6, 1, 5, 3, 3, 4, 4, 6, 1, 3, ..."
13,data_1.5c8,0.00701,0.02007,-0.009984,1,487.751352,"[6, 1, 5, 1, 1, 2, 5, 1, 7, 3, 7, 7, 2, 0, 7, ..."
14,data_-1c16,0.22947,0.45823,-0.035508,0,997.216416,"[10, 1, 15, 4, 9, 9, 14, 3, 15, 3, 7, 6, 1, 3,..."

### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2494)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.0005 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.4032, ARI= 0.2024
Clustering time: 1049 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."
10,data_1.5c4,0.04335,0.05856,-0.009823,0,251.275283,"[2, 3, 2, 2, 3, 2, 1, 3, 2, 0, 0, 0, 1, 3, 3, ..."
11,data_1.5c4,0.00379,0.00731,-0.010813,1,250.038381,"[1, 2, 2, 1, 2, 3, 0, 2, 3, 2, 3, 2, 0, 1, 0, ..."
12,data_1.5c8,0.01688,0.04003,-0.008987,0,487.141639,"[2, 6, 0, 2, 5, 6, 1, 5, 3, 3, 4, 4, 6, 1, 3, ..."
13,data_1.5c8,0.00701,0.02007,-0.009984,1,487.751352,"[6, 1, 5, 1, 1, 2, 5, 1, 7, 3, 7, 7, 2, 0, 7, ..."
14,data_-1c16,0.22947,0.45823,-0.035508,0,997.216416,"[10, 1, 15, 4, 9, 9, 14, 3, 15, 3, 7, 6, 1, 3,..."
15,data_-1c16,0.20240,0.40319,-0.030474,1,1049.910199,"[5, 7, 1, 3, 14, 3, 4, 9, 6, 13, 5, 2, 9, 9, 1..."

>>>>dataset data_1c16
### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2488)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.00075 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0345, ARI= 0.0087
Clustering time: 1000 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."
10,data_1.5c4,0.04335,0.05856,-0.009823,0,251.275283,"[2, 3, 2, 2, 3, 2, 1, 3, 2, 0, 0, 0, 1, 3, 3, ..."
11,data_1.5c4,0.00379,0.00731,-0.010813,1,250.038381,"[1, 2, 2, 1, 2, 3, 0, 2, 3, 2, 3, 2, 0, 1, 0, ..."
12,data_1.5c8,0.01688,0.04003,-0.008987,0,487.141639,"[2, 6, 0, 2, 5, 6, 1, 5, 3, 3, 4, 4, 6, 1, 3, ..."
13,data_1.5c8,0.00701,0.02007,-0.009984,1,487.751352,"[6, 1, 5, 1, 1, 2, 5, 1, 7, 3, 7, 7, 2, 0, 7, ..."
14,data_-1c16,0.22947,0.45823,-0.035508,0,997.216416,"[10, 1, 15, 4, 9, 9, 14, 3, 15, 3, 7, 6, 1, 3,..."
15,data_-1c16,0.20240,0.40319,-0.030474,1,1049.910199,"[5, 7, 1, 3, 14, 3, 4, 9, 6, 13, 5, 2, 9, 9, 1..."
16,data_1c16,0.00868,0.03448,-0.022871,0,1001.285331,"[10, 7, 6, 2, 9, 6, 14, 7, 1, 14, 10, 8, 6, 15..."

### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2488)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.0005 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0261, ARI= 0.0042
Clustering time: 1125 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."
10,data_1.5c4,0.04335,0.05856,-0.009823,0,251.275283,"[2, 3, 2, 2, 3, 2, 1, 3, 2, 0, 0, 0, 1, 3, 3, ..."
11,data_1.5c4,0.00379,0.00731,-0.010813,1,250.038381,"[1, 2, 2, 1, 2, 3, 0, 2, 3, 2, 3, 2, 0, 1, 0, ..."
12,data_1.5c8,0.01688,0.04003,-0.008987,0,487.141639,"[2, 6, 0, 2, 5, 6, 1, 5, 3, 3, 4, 4, 6, 1, 3, ..."
13,data_1.5c8,0.00701,0.02007,-0.009984,1,487.751352,"[6, 1, 5, 1, 1, 2, 5, 1, 7, 3, 7, 7, 2, 0, 7, ..."
14,data_-1c16,0.22947,0.45823,-0.035508,0,997.216416,"[10, 1, 15, 4, 9, 9, 14, 3, 15, 3, 7, 6, 1, 3,..."
15,data_-1c16,0.20240,0.40319,-0.030474,1,1049.910199,"[5, 7, 1, 3, 14, 3, 4, 9, 6, 13, 5, 2, 9, 9, 1..."
16,data_1c16,0.00868,0.03448,-0.022871,0,1001.285331,"[10, 7, 6, 2, 9, 6, 14, 7, 1, 14, 10, 8, 6, 15..."
17,data_1c16,0.00423,0.02613,-0.016937,1,1125.564683,"[4, 1, 0, 12, 1, 0, 1, 10, 7, 2, 4, 3, 12, 7, ..."

>>>>dataset data_1c8
### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2479)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0005 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0606, ARI= 0.0294
Clustering time: 494 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."
10,data_1.5c4,0.04335,0.05856,-0.009823,0,251.275283,"[2, 3, 2, 2, 3, 2, 1, 3, 2, 0, 0, 0, 1, 3, 3, ..."
11,data_1.5c4,0.00379,0.00731,-0.010813,1,250.038381,"[1, 2, 2, 1, 2, 3, 0, 2, 3, 2, 3, 2, 0, 1, 0, ..."
12,data_1.5c8,0.01688,0.04003,-0.008987,0,487.141639,"[2, 6, 0, 2, 5, 6, 1, 5, 3, 3, 4, 4, 6, 1, 3, ..."
13,data_1.5c8,0.00701,0.02007,-0.009984,1,487.751352,"[6, 1, 5, 1, 1, 2, 5, 1, 7, 3, 7, 7, 2, 0, 7, ..."
14,data_-1c16,0.22947,0.45823,-0.035508,0,997.216416,"[10, 1, 15, 4, 9, 9, 14, 3, 15, 3, 7, 6, 1, 3,..."
15,data_-1c16,0.20240,0.40319,-0.030474,1,1049.910199,"[5, 7, 1, 3, 14, 3, 4, 9, 6, 13, 5, 2, 9, 9, 1..."
16,data_1c16,0.00868,0.03448,-0.022871,0,1001.285331,"[10, 7, 6, 2, 9, 6, 14, 7, 1, 14, 10, 8, 6, 15..."
17,data_1c16,0.00423,0.02613,-0.016937,1,1125.564683,"[4, 1, 0, 12, 1, 0, 1, 10, 7, 2, 4, 3, 12, 7, ..."
18,data_1c8,0.02938,0.06059,-0.022736,0,494.890177,"[7, 3, 1, 5, 5, 5, 1, 5, 2, 2, 0, 6, 3, 1, 2, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2479)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0005 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0278, ARI= 0.0107
Clustering time: 504 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."
10,data_1.5c4,0.04335,0.05856,-0.009823,0,251.275283,"[2, 3, 2, 2, 3, 2, 1, 3, 2, 0, 0, 0, 1, 3, 3, ..."
11,data_1.5c4,0.00379,0.00731,-0.010813,1,250.038381,"[1, 2, 2, 1, 2, 3, 0, 2, 3, 2, 3, 2, 0, 1, 0, ..."
12,data_1.5c8,0.01688,0.04003,-0.008987,0,487.141639,"[2, 6, 0, 2, 5, 6, 1, 5, 3, 3, 4, 4, 6, 1, 3, ..."
13,data_1.5c8,0.00701,0.02007,-0.009984,1,487.751352,"[6, 1, 5, 1, 1, 2, 5, 1, 7, 3, 7, 7, 2, 0, 7, ..."
14,data_-1c16,0.22947,0.45823,-0.035508,0,997.216416,"[10, 1, 15, 4, 9, 9, 14, 3, 15, 3, 7, 6, 1, 3,..."
15,data_-1c16,0.20240,0.40319,-0.030474,1,1049.910199,"[5, 7, 1, 3, 14, 3, 4, 9, 6, 13, 5, 2, 9, 9, 1..."
16,data_1c16,0.00868,0.03448,-0.022871,0,1001.285331,"[10, 7, 6, 2, 9, 6, 14, 7, 1, 14, 10, 8, 6, 15..."
17,data_1c16,0.00423,0.02613,-0.016937,1,1125.564683,"[4, 1, 0, 12, 1, 0, 1, 10, 7, 2, 4, 3, 12, 7, ..."
18,data_1c8,0.02938,0.06059,-0.022736,0,494.890177,"[7, 3, 1, 5, 5, 5, 1, 5, 2, 2, 0, 6, 3, 1, 2, ..."
19,data_1c8,0.01073,0.02785,-0.022380,1,504.871805,"[0, 5, 5, 7, 7, 7, 2, 7, 6, 3, 6, 6, 5, 3, 1, ..."

>>>>dataset data_-1c8
### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2492)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.8309, ARI= 0.7842
Clustering time: 501 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."
10,data_1.5c4,0.04335,0.05856,-0.009823,0,251.275283,"[2, 3, 2, 2, 3, 2, 1, 3, 2, 0, 0, 0, 1, 3, 3, ..."
11,data_1.5c4,0.00379,0.00731,-0.010813,1,250.038381,"[1, 2, 2, 1, 2, 3, 0, 2, 3, 2, 3, 2, 0, 1, 0, ..."
12,data_1.5c8,0.01688,0.04003,-0.008987,0,487.141639,"[2, 6, 0, 2, 5, 6, 1, 5, 3, 3, 4, 4, 6, 1, 3, ..."
13,data_1.5c8,0.00701,0.02007,-0.009984,1,487.751352,"[6, 1, 5, 1, 1, 2, 5, 1, 7, 3, 7, 7, 2, 0, 7, ..."
14,data_-1c16,0.22947,0.45823,-0.035508,0,997.216416,"[10, 1, 15, 4, 9, 9, 14, 3, 15, 3, 7, 6, 1, 3,..."
15,data_-1c16,0.20240,0.40319,-0.030474,1,1049.910199,"[5, 7, 1, 3, 14, 3, 4, 9, 6, 13, 5, 2, 9, 9, 1..."
16,data_1c16,0.00868,0.03448,-0.022871,0,1001.285331,"[10, 7, 6, 2, 9, 6, 14, 7, 1, 14, 10, 8, 6, 15..."
17,data_1c16,0.00423,0.02613,-0.016937,1,1125.564683,"[4, 1, 0, 12, 1, 0, 1, 10, 7, 2, 4, 3, 12, 7, ..."
18,data_1c8,0.02938,0.06059,-0.022736,0,494.890177,"[7, 3, 1, 5, 5, 5, 1, 5, 2, 2, 0, 6, 3, 1, 2, ..."
19,data_1c8,0.01073,0.02785,-0.022380,1,504.871805,"[0, 5, 5, 7, 7, 7, 2, 7, 6, 3, 6, 6, 5, 3, 1, ..."
20,data_-1c8,0.78420,0.83086,-0.020010,0,502.190110,"[3, 3, 6, 2, 5, 5, 4, 3, 6, 4, 6, 1, 3, 5, 0, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2492)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0005 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.8204, ARI= 0.7787
Clustering time: 504 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."
10,data_1.5c4,0.04335,0.05856,-0.009823,0,251.275283,"[2, 3, 2, 2, 3, 2, 1, 3, 2, 0, 0, 0, 1, 3, 3, ..."
11,data_1.5c4,0.00379,0.00731,-0.010813,1,250.038381,"[1, 2, 2, 1, 2, 3, 0, 2, 3, 2, 3, 2, 0, 1, 0, ..."
12,data_1.5c8,0.01688,0.04003,-0.008987,0,487.141639,"[2, 6, 0, 2, 5, 6, 1, 5, 3, 3, 4, 4, 6, 1, 3, ..."
13,data_1.5c8,0.00701,0.02007,-0.009984,1,487.751352,"[6, 1, 5, 1, 1, 2, 5, 1, 7, 3, 7, 7, 2, 0, 7, ..."
14,data_-1c16,0.22947,0.45823,-0.035508,0,997.216416,"[10, 1, 15, 4, 9, 9, 14, 3, 15, 3, 7, 6, 1, 3,..."
15,data_-1c16,0.20240,0.40319,-0.030474,1,1049.910199,"[5, 7, 1, 3, 14, 3, 4, 9, 6, 13, 5, 2, 9, 9, 1..."
16,data_1c16,0.00868,0.03448,-0.022871,0,1001.285331,"[10, 7, 6, 2, 9, 6, 14, 7, 1, 14, 10, 8, 6, 15..."
17,data_1c16,0.00423,0.02613,-0.016937,1,1125.564683,"[4, 1, 0, 12, 1, 0, 1, 10, 7, 2, 4, 3, 12, 7, ..."
18,data_1c8,0.02938,0.06059,-0.022736,0,494.890177,"[7, 3, 1, 5, 5, 5, 1, 5, 2, 2, 0, 6, 3, 1, 2, ..."
19,data_1c8,0.01073,0.02785,-0.022380,1,504.871805,"[0, 5, 5, 7, 7, 7, 2, 7, 6, 3, 6, 6, 5, 3, 1, ..."
20,data_-1c8,0.78420,0.83086,-0.020010,0,502.190110,"[3, 3, 6, 2, 5, 5, 4, 3, 6, 4, 6, 1, 3, 5, 0, ..."
21,data_-1c8,0.77874,0.82036,-0.008999,1,505.229995,"[4, 4, 6, 7, 0, 0, 5, 4, 6, 2, 6, 3, 4, 0, 5, ..."

>>>>dataset data_-1c4
### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2490)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.9648, ARI= 0.9794
Clustering time: 255 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."
10,data_1.5c4,0.04335,0.05856,-0.009823,0,251.275283,"[2, 3, 2, 2, 3, 2, 1, 3, 2, 0, 0, 0, 1, 3, 3, ..."
11,data_1.5c4,0.00379,0.00731,-0.010813,1,250.038381,"[1, 2, 2, 1, 2, 3, 0, 2, 3, 2, 3, 2, 0, 1, 0, ..."
12,data_1.5c8,0.01688,0.04003,-0.008987,0,487.141639,"[2, 6, 0, 2, 5, 6, 1, 5, 3, 3, 4, 4, 6, 1, 3, ..."
13,data_1.5c8,0.00701,0.02007,-0.009984,1,487.751352,"[6, 1, 5, 1, 1, 2, 5, 1, 7, 3, 7, 7, 2, 0, 7, ..."
14,data_-1c16,0.22947,0.45823,-0.035508,0,997.216416,"[10, 1, 15, 4, 9, 9, 14, 3, 15, 3, 7, 6, 1, 3,..."
15,data_-1c16,0.20240,0.40319,-0.030474,1,1049.910199,"[5, 7, 1, 3, 14, 3, 4, 9, 6, 13, 5, 2, 9, 9, 1..."
16,data_1c16,0.00868,0.03448,-0.022871,0,1001.285331,"[10, 7, 6, 2, 9, 6, 14, 7, 1, 14, 10, 8, 6, 15..."
17,data_1c16,0.00423,0.02613,-0.016937,1,1125.564683,"[4, 1, 0, 12, 1, 0, 1, 10, 7, 2, 4, 3, 12, 7, ..."
18,data_1c8,0.02938,0.06059,-0.022736,0,494.890177,"[7, 3, 1, 5, 5, 5, 1, 5, 2, 2, 0, 6, 3, 1, 2, ..."
19,data_1c8,0.01073,0.02785,-0.022380,1,504.871805,"[0, 5, 5, 7, 7, 7, 2, 7, 6, 3, 6, 6, 5, 3, 1, ..."
20,data_-1c8,0.78420,0.83086,-0.020010,0,502.190110,"[3, 3, 6, 2, 5, 5, 4, 3, 6, 4, 6, 1, 3, 5, 0, ..."
21,data_-1c8,0.77874,0.82036,-0.008999,1,505.229995,"[4, 4, 6, 7, 0, 0, 5, 4, 6, 2, 6, 3, 4, 0, 5, ..."
22,data_-1c4,0.97938,0.96483,0.004764,0,255.775977,"[0, 0, 2, 3, 0, 0, 1, 0, 2, 3, 2, 1, 0, 0, 1, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2490)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.9589, ARI= 0.9730
Clustering time: 258 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.15494,0.27085,-0.027107,0,473.648858,"[2, 2, 1, 4, 4, 1, 7, 2, 5, 6, 5, 5, 2, 1, 5, ..."
1,data_0c8,0.16787,0.27345,-0.025733,1,470.911508,"[5, 5, 7, 1, 0, 0, 4, 5, 6, 3, 6, 6, 5, 4, 6, ..."
2,data_1c4,0.02761,0.04069,-0.011468,0,239.059422,"[3, 1, 0, 3, 2, 0, 1, 1, 3, 0, 2, 0, 1, 2, 2, ..."
3,data_1c4,0.05835,0.07743,-0.011658,1,236.400428,"[1, 2, 3, 1, 2, 1, 0, 2, 1, 3, 3, 0, 0, 1, 2, ..."
4,data_0c16,0.06292,0.15552,-0.034949,0,973.088774,"[5, 14, 8, 4, 12, 4, 15, 12, 6, 1, 9, 11, 10, ..."
5,data_0c16,0.05309,0.14452,-0.030688,1,1343.652671,"[9, 13, 5, 10, 15, 15, 13, 11, 7, 0, 6, 14, 5,..."
6,data_1.5c16,0.00296,0.01892,-0.017812,0,983.799118,"[9, 4, 3, 4, 1, 3, 10, 4, 5, 9, 15, 5, 3, 11, ..."
7,data_1.5c16,0.00148,0.01587,-0.013487,1,1310.386267,"[15, 0, 10, 8, 13, 10, 11, 13, 0, 0, 12, 10, 1..."
8,data_0c4,0.15502,0.19729,-0.017395,0,242.740864,"[0, 1, 3, 0, 3, 0, 2, 1, 3, 3, 1, 3, 2, 0, 3, ..."
9,data_0c4,0.53083,0.52455,-0.015407,1,251.409212,"[0, 0, 2, 3, 0, 3, 1, 0, 2, 1, 2, 1, 0, 0, 1, ..."
10,data_1.5c4,0.04335,0.05856,-0.009823,0,251.275283,"[2, 3, 2, 2, 3, 2, 1, 3, 2, 0, 0, 0, 1, 3, 3, ..."
11,data_1.5c4,0.00379,0.00731,-0.010813,1,250.038381,"[1, 2, 2, 1, 2, 3, 0, 2, 3, 2, 3, 2, 0, 1, 0, ..."
12,data_1.5c8,0.01688,0.04003,-0.008987,0,487.141639,"[2, 6, 0, 2, 5, 6, 1, 5, 3, 3, 4, 4, 6, 1, 3, ..."
13,data_1.5c8,0.00701,0.02007,-0.009984,1,487.751352,"[6, 1, 5, 1, 1, 2, 5, 1, 7, 3, 7, 7, 2, 0, 7, ..."
14,data_-1c16,0.22947,0.45823,-0.035508,0,997.216416,"[10, 1, 15, 4, 9, 9, 14, 3, 15, 3, 7, 6, 1, 3,..."
15,data_-1c16,0.20240,0.40319,-0.030474,1,1049.910199,"[5, 7, 1, 3, 14, 3, 4, 9, 6, 13, 5, 2, 9, 9, 1..."
16,data_1c16,0.00868,0.03448,-0.022871,0,1001.285331,"[10, 7, 6, 2, 9, 6, 14, 7, 1, 14, 10, 8, 6, 15..."
17,data_1c16,0.00423,0.02613,-0.016937,1,1125.564683,"[4, 1, 0, 12, 1, 0, 1, 10, 7, 2, 4, 3, 12, 7, ..."
18,data_1c8,0.02938,0.06059,-0.022736,0,494.890177,"[7, 3, 1, 5, 5, 5, 1, 5, 2, 2, 0, 6, 3, 1, 2, ..."
19,data_1c8,0.01073,0.02785,-0.022380,1,504.871805,"[0, 5, 5, 7, 7, 7, 2, 7, 6, 3, 6, 6, 5, 3, 1, ..."
20,data_-1c8,0.78420,0.83086,-0.020010,0,502.190110,"[3, 3, 6, 2, 5, 5, 4, 3, 6, 4, 6, 1, 3, 5, 0, ..."
21,data_-1c8,0.77874,0.82036,-0.008999,1,505.229995,"[4, 4, 6, 7, 0, 0, 5, 4, 6, 2, 6, 3, 4, 0, 5, ..."
22,data_-1c4,0.97938,0.96483,0.004764,0,255.775977,"[0, 0, 2, 3, 0, 0, 1, 0, 2, 3, 2, 1, 0, 0, 1, ..."
23,data_-1c4,0.97301,0.95888,0.004719,1,258.876651,"[2, 2, 1, 3, 2, 2, 0, 2, 1, 3, 1, 0, 2, 2, 0, ..."

['data_0c8', 'data_1c4', 'data_0c16', 'data_1.5c16', 'data_0c4', 'data_1.5c4', 'data_1.5c8', 'data_-1c16', 'data_1c16', 'data_1c8', 'data_-1c8', 'data_-1c4']
>>>>dataset data_0c8
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.2633, ARI= 0.1868
Clustering time: 744 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.1868,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.4676, ARI= 0.3692
Clustering time: 736 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."

>>>>dataset data_1c4
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2487)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.2319, ARI= 0.1935
Clustering time: 729 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2487)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.2670, ARI= 0.2476
Clustering time: 735 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."

>>>>dataset data_0c16
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2489)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0336, ARI= 0.0082
Clustering time: 841 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2489)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0291, ARI= 0.0058
Clustering time: 1101 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."

>>>>dataset data_1.5c16
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2483)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0175, ARI= 0.0009
Clustering time: 777 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2483)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0220, ARI= 0.0029
Clustering time: 870 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."

>>>>dataset data_0c4
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.4880, ARI= 0.4270
Clustering time: 738 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.5049, ARI= 0.4328
Clustering time: 739 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."

>>>>dataset data_1.5c4
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2480)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0208, ARI= 0.0169
Clustering time: 735 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2480)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0069, ARI= 0.0037
Clustering time: 733 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."
11,data_1.5c4,0.00374,0.00695,-0.008688,1,734.167426,"[1, 2, 0, 0, 1, 3, 2, 0, 0, 0, 3, 3, 1, 3, 0, ..."

>>>>dataset data_1.5c8
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2482)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0589, ARI= 0.0352
Clustering time: 749 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."
11,data_1.5c4,0.00374,0.00695,-0.008688,1,734.167426,"[1, 2, 0, 0, 1, 3, 2, 0, 0, 0, 3, 3, 1, 3, 0, ..."
12,data_1.5c8,0.03517,0.05891,-0.012278,0,750.261484,"[0, 6, 7, 3, 5, 7, 1, 3, 7, 6, 0, 1, 5, 3, 7, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2482)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0434, ARI= 0.0239
Clustering time: 755 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."
11,data_1.5c4,0.00374,0.00695,-0.008688,1,734.167426,"[1, 2, 0, 0, 1, 3, 2, 0, 0, 0, 3, 3, 1, 3, 0, ..."
12,data_1.5c8,0.03517,0.05891,-0.012278,0,750.261484,"[0, 6, 7, 3, 5, 7, 1, 3, 7, 6, 0, 1, 5, 3, 7, ..."
13,data_1.5c8,0.02389,0.04337,-0.011656,1,755.919164,"[1, 3, 0, 3, 1, 0, 2, 7, 0, 3, 7, 6, 1, 7, 3, ..."

>>>>dataset data_-1c16
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0789, ARI= 0.0254
Clustering time: 1095 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."
11,data_1.5c4,0.00374,0.00695,-0.008688,1,734.167426,"[1, 2, 0, 0, 1, 3, 2, 0, 0, 0, 3, 3, 1, 3, 0, ..."
12,data_1.5c8,0.03517,0.05891,-0.012278,0,750.261484,"[0, 6, 7, 3, 5, 7, 1, 3, 7, 6, 0, 1, 5, 3, 7, ..."
13,data_1.5c8,0.02389,0.04337,-0.011656,1,755.919164,"[1, 3, 0, 3, 1, 0, 2, 7, 0, 3, 7, 6, 1, 7, 3, ..."
14,data_-1c16,0.02538,0.07890,-0.035985,0,1095.511913,"[2, 6, 6, 2, 9, 9, 4, 3, 6, 6, 12, 6, 9, 3, 5,..."

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.1094, ARI= 0.0433
Clustering time: 831 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."
11,data_1.5c4,0.00374,0.00695,-0.008688,1,734.167426,"[1, 2, 0, 0, 1, 3, 2, 0, 0, 0, 3, 3, 1, 3, 0, ..."
12,data_1.5c8,0.03517,0.05891,-0.012278,0,750.261484,"[0, 6, 7, 3, 5, 7, 1, 3, 7, 6, 0, 1, 5, 3, 7, ..."
13,data_1.5c8,0.02389,0.04337,-0.011656,1,755.919164,"[1, 3, 0, 3, 1, 0, 2, 7, 0, 3, 7, 6, 1, 7, 3, ..."
14,data_-1c16,0.02538,0.07890,-0.035985,0,1095.511913,"[2, 6, 6, 2, 9, 9, 4, 3, 6, 6, 12, 6, 9, 3, 5,..."
15,data_-1c16,0.04326,0.10939,-0.037782,1,832.152127,"[0, 13, 6, 12, 0, 8, 4, 15, 15, 11, 8, 5, 9, 1..."

>>>>dataset data_1c16
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2480)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0245, ARI= 0.0041
Clustering time: 777 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."
11,data_1.5c4,0.00374,0.00695,-0.008688,1,734.167426,"[1, 2, 0, 0, 1, 3, 2, 0, 0, 0, 3, 3, 1, 3, 0, ..."
12,data_1.5c8,0.03517,0.05891,-0.012278,0,750.261484,"[0, 6, 7, 3, 5, 7, 1, 3, 7, 6, 0, 1, 5, 3, 7, ..."
13,data_1.5c8,0.02389,0.04337,-0.011656,1,755.919164,"[1, 3, 0, 3, 1, 0, 2, 7, 0, 3, 7, 6, 1, 7, 3, ..."
14,data_-1c16,0.02538,0.07890,-0.035985,0,1095.511913,"[2, 6, 6, 2, 9, 9, 4, 3, 6, 6, 12, 6, 9, 3, 5,..."
15,data_-1c16,0.04326,0.10939,-0.037782,1,832.152127,"[0, 13, 6, 12, 0, 8, 4, 15, 15, 11, 8, 5, 9, 1..."
16,data_1c16,0.00410,0.02451,-0.021020,0,777.547579,"[7, 6, 1, 11, 5, 8, 10, 2, 13, 6, 8, 13, 0, 6,..."

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2480)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0202, ARI= 0.0019
Clustering time: 952 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."
11,data_1.5c4,0.00374,0.00695,-0.008688,1,734.167426,"[1, 2, 0, 0, 1, 3, 2, 0, 0, 0, 3, 3, 1, 3, 0, ..."
12,data_1.5c8,0.03517,0.05891,-0.012278,0,750.261484,"[0, 6, 7, 3, 5, 7, 1, 3, 7, 6, 0, 1, 5, 3, 7, ..."
13,data_1.5c8,0.02389,0.04337,-0.011656,1,755.919164,"[1, 3, 0, 3, 1, 0, 2, 7, 0, 3, 7, 6, 1, 7, 3, ..."
14,data_-1c16,0.02538,0.07890,-0.035985,0,1095.511913,"[2, 6, 6, 2, 9, 9, 4, 3, 6, 6, 12, 6, 9, 3, 5,..."
15,data_-1c16,0.04326,0.10939,-0.037782,1,832.152127,"[0, 13, 6, 12, 0, 8, 4, 15, 15, 11, 8, 5, 9, 1..."
16,data_1c16,0.00410,0.02451,-0.021020,0,777.547579,"[7, 6, 1, 11, 5, 8, 10, 2, 13, 6, 8, 13, 0, 6,..."
17,data_1c16,0.00190,0.02018,-0.017299,1,952.722120,"[9, 2, 1, 6, 0, 7, 4, 3, 6, 14, 12, 7, 12, 2, ..."

>>>>dataset data_1c8
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2486)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.1418, ARI= 0.1006
Clustering time: 762 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."
11,data_1.5c4,0.00374,0.00695,-0.008688,1,734.167426,"[1, 2, 0, 0, 1, 3, 2, 0, 0, 0, 3, 3, 1, 3, 0, ..."
12,data_1.5c8,0.03517,0.05891,-0.012278,0,750.261484,"[0, 6, 7, 3, 5, 7, 1, 3, 7, 6, 0, 1, 5, 3, 7, ..."
13,data_1.5c8,0.02389,0.04337,-0.011656,1,755.919164,"[1, 3, 0, 3, 1, 0, 2, 7, 0, 3, 7, 6, 1, 7, 3, ..."
14,data_-1c16,0.02538,0.07890,-0.035985,0,1095.511913,"[2, 6, 6, 2, 9, 9, 4, 3, 6, 6, 12, 6, 9, 3, 5,..."
15,data_-1c16,0.04326,0.10939,-0.037782,1,832.152127,"[0, 13, 6, 12, 0, 8, 4, 15, 15, 11, 8, 5, 9, 1..."
16,data_1c16,0.00410,0.02451,-0.021020,0,777.547579,"[7, 6, 1, 11, 5, 8, 10, 2, 13, 6, 8, 13, 0, 6,..."
17,data_1c16,0.00190,0.02018,-0.017299,1,952.722120,"[9, 2, 1, 6, 0, 7, 4, 3, 6, 14, 12, 7, 12, 2, ..."
18,data_1c8,0.10058,0.14179,-0.015071,0,763.088650,"[3, 3, 6, 5, 0, 1, 2, 6, 4, 3, 7, 6, 0, 4, 4, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2486)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.1146, ARI= 0.0648
Clustering time: 765 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."
11,data_1.5c4,0.00374,0.00695,-0.008688,1,734.167426,"[1, 2, 0, 0, 1, 3, 2, 0, 0, 0, 3, 3, 1, 3, 0, ..."
12,data_1.5c8,0.03517,0.05891,-0.012278,0,750.261484,"[0, 6, 7, 3, 5, 7, 1, 3, 7, 6, 0, 1, 5, 3, 7, ..."
13,data_1.5c8,0.02389,0.04337,-0.011656,1,755.919164,"[1, 3, 0, 3, 1, 0, 2, 7, 0, 3, 7, 6, 1, 7, 3, ..."
14,data_-1c16,0.02538,0.07890,-0.035985,0,1095.511913,"[2, 6, 6, 2, 9, 9, 4, 3, 6, 6, 12, 6, 9, 3, 5,..."
15,data_-1c16,0.04326,0.10939,-0.037782,1,832.152127,"[0, 13, 6, 12, 0, 8, 4, 15, 15, 11, 8, 5, 9, 1..."
16,data_1c16,0.00410,0.02451,-0.021020,0,777.547579,"[7, 6, 1, 11, 5, 8, 10, 2, 13, 6, 8, 13, 0, 6,..."
17,data_1c16,0.00190,0.02018,-0.017299,1,952.722120,"[9, 2, 1, 6, 0, 7, 4, 3, 6, 14, 12, 7, 12, 2, ..."
18,data_1c8,0.10058,0.14179,-0.015071,0,763.088650,"[3, 3, 6, 5, 0, 1, 2, 6, 4, 3, 7, 6, 0, 4, 4, ..."
19,data_1c8,0.06481,0.11463,-0.016623,1,766.291850,"[7, 0, 4, 4, 3, 7, 1, 6, 0, 5, 7, 4, 2, 6, 5, ..."

>>>>dataset data_-1c8
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.6595, ARI= 0.5357
Clustering time: 764 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."
11,data_1.5c4,0.00374,0.00695,-0.008688,1,734.167426,"[1, 2, 0, 0, 1, 3, 2, 0, 0, 0, 3, 3, 1, 3, 0, ..."
12,data_1.5c8,0.03517,0.05891,-0.012278,0,750.261484,"[0, 6, 7, 3, 5, 7, 1, 3, 7, 6, 0, 1, 5, 3, 7, ..."
13,data_1.5c8,0.02389,0.04337,-0.011656,1,755.919164,"[1, 3, 0, 3, 1, 0, 2, 7, 0, 3, 7, 6, 1, 7, 3, ..."
14,data_-1c16,0.02538,0.07890,-0.035985,0,1095.511913,"[2, 6, 6, 2, 9, 9, 4, 3, 6, 6, 12, 6, 9, 3, 5,..."
15,data_-1c16,0.04326,0.10939,-0.037782,1,832.152127,"[0, 13, 6, 12, 0, 8, 4, 15, 15, 11, 8, 5, 9, 1..."
16,data_1c16,0.00410,0.02451,-0.021020,0,777.547579,"[7, 6, 1, 11, 5, 8, 10, 2, 13, 6, 8, 13, 0, 6,..."
17,data_1c16,0.00190,0.02018,-0.017299,1,952.722120,"[9, 2, 1, 6, 0, 7, 4, 3, 6, 14, 12, 7, 12, 2, ..."
18,data_1c8,0.10058,0.14179,-0.015071,0,763.088650,"[3, 3, 6, 5, 0, 1, 2, 6, 4, 3, 7, 6, 0, 4, 4, ..."
19,data_1c8,0.06481,0.11463,-0.016623,1,766.291850,"[7, 0, 4, 4, 3, 7, 1, 6, 0, 5, 7, 4, 2, 6, 5, ..."
20,data_-1c8,0.53569,0.65946,-0.023767,0,765.320978,"[4, 2, 6, 7, 4, 4, 1, 3, 6, 7, 0, 1, 2, 4, 5, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.5902, ARI= 0.4581
Clustering time: 766 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."
11,data_1.5c4,0.00374,0.00695,-0.008688,1,734.167426,"[1, 2, 0, 0, 1, 3, 2, 0, 0, 0, 3, 3, 1, 3, 0, ..."
12,data_1.5c8,0.03517,0.05891,-0.012278,0,750.261484,"[0, 6, 7, 3, 5, 7, 1, 3, 7, 6, 0, 1, 5, 3, 7, ..."
13,data_1.5c8,0.02389,0.04337,-0.011656,1,755.919164,"[1, 3, 0, 3, 1, 0, 2, 7, 0, 3, 7, 6, 1, 7, 3, ..."
14,data_-1c16,0.02538,0.07890,-0.035985,0,1095.511913,"[2, 6, 6, 2, 9, 9, 4, 3, 6, 6, 12, 6, 9, 3, 5,..."
15,data_-1c16,0.04326,0.10939,-0.037782,1,832.152127,"[0, 13, 6, 12, 0, 8, 4, 15, 15, 11, 8, 5, 9, 1..."
16,data_1c16,0.00410,0.02451,-0.021020,0,777.547579,"[7, 6, 1, 11, 5, 8, 10, 2, 13, 6, 8, 13, 0, 6,..."
17,data_1c16,0.00190,0.02018,-0.017299,1,952.722120,"[9, 2, 1, 6, 0, 7, 4, 3, 6, 14, 12, 7, 12, 2, ..."
18,data_1c8,0.10058,0.14179,-0.015071,0,763.088650,"[3, 3, 6, 5, 0, 1, 2, 6, 4, 3, 7, 6, 0, 4, 4, ..."
19,data_1c8,0.06481,0.11463,-0.016623,1,766.291850,"[7, 0, 4, 4, 3, 7, 1, 6, 0, 5, 7, 4, 2, 6, 5, ..."
20,data_-1c8,0.53569,0.65946,-0.023767,0,765.320978,"[4, 2, 6, 7, 4, 4, 1, 3, 6, 7, 0, 1, 2, 4, 5, ..."
21,data_-1c8,0.45807,0.59022,-0.029001,1,766.809194,"[5, 0, 4, 6, 2, 2, 4, 5, 3, 6, 1, 7, 0, 2, 7, ..."

>>>>dataset data_-1c4
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2492)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.5539, ARI= 0.4481
Clustering time: 760 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."
11,data_1.5c4,0.00374,0.00695,-0.008688,1,734.167426,"[1, 2, 0, 0, 1, 3, 2, 0, 0, 0, 3, 3, 1, 3, 0, ..."
12,data_1.5c8,0.03517,0.05891,-0.012278,0,750.261484,"[0, 6, 7, 3, 5, 7, 1, 3, 7, 6, 0, 1, 5, 3, 7, ..."
13,data_1.5c8,0.02389,0.04337,-0.011656,1,755.919164,"[1, 3, 0, 3, 1, 0, 2, 7, 0, 3, 7, 6, 1, 7, 3, ..."
14,data_-1c16,0.02538,0.07890,-0.035985,0,1095.511913,"[2, 6, 6, 2, 9, 9, 4, 3, 6, 6, 12, 6, 9, 3, 5,..."
15,data_-1c16,0.04326,0.10939,-0.037782,1,832.152127,"[0, 13, 6, 12, 0, 8, 4, 15, 15, 11, 8, 5, 9, 1..."
16,data_1c16,0.00410,0.02451,-0.021020,0,777.547579,"[7, 6, 1, 11, 5, 8, 10, 2, 13, 6, 8, 13, 0, 6,..."
17,data_1c16,0.00190,0.02018,-0.017299,1,952.722120,"[9, 2, 1, 6, 0, 7, 4, 3, 6, 14, 12, 7, 12, 2, ..."
18,data_1c8,0.10058,0.14179,-0.015071,0,763.088650,"[3, 3, 6, 5, 0, 1, 2, 6, 4, 3, 7, 6, 0, 4, 4, ..."
19,data_1c8,0.06481,0.11463,-0.016623,1,766.291850,"[7, 0, 4, 4, 3, 7, 1, 6, 0, 5, 7, 4, 2, 6, 5, ..."
20,data_-1c8,0.53569,0.65946,-0.023767,0,765.320978,"[4, 2, 6, 7, 4, 4, 1, 3, 6, 7, 0, 1, 2, 4, 5, ..."
21,data_-1c8,0.45807,0.59022,-0.029001,1,766.809194,"[5, 0, 4, 6, 2, 2, 4, 5, 3, 6, 1, 7, 0, 2, 7, ..."
22,data_-1c4,0.44815,0.55387,-0.019051,0,761.270389,"[2, 1, 3, 1, 2, 1, 3, 2, 3, 2, 0, 0, 2, 1, 3, ..."

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2492)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.5706, ARI= 0.4332
Clustering time: 757 seconds.

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."
11,data_1.5c4,0.00374,0.00695,-0.008688,1,734.167426,"[1, 2, 0, 0, 1, 3, 2, 0, 0, 0, 3, 3, 1, 3, 0, ..."
12,data_1.5c8,0.03517,0.05891,-0.012278,0,750.261484,"[0, 6, 7, 3, 5, 7, 1, 3, 7, 6, 0, 1, 5, 3, 7, ..."
13,data_1.5c8,0.02389,0.04337,-0.011656,1,755.919164,"[1, 3, 0, 3, 1, 0, 2, 7, 0, 3, 7, 6, 1, 7, 3, ..."
14,data_-1c16,0.02538,0.07890,-0.035985,0,1095.511913,"[2, 6, 6, 2, 9, 9, 4, 3, 6, 6, 12, 6, 9, 3, 5,..."
15,data_-1c16,0.04326,0.10939,-0.037782,1,832.152127,"[0, 13, 6, 12, 0, 8, 4, 15, 15, 11, 8, 5, 9, 1..."
16,data_1c16,0.00410,0.02451,-0.021020,0,777.547579,"[7, 6, 1, 11, 5, 8, 10, 2, 13, 6, 8, 13, 0, 6,..."
17,data_1c16,0.00190,0.02018,-0.017299,1,952.722120,"[9, 2, 1, 6, 0, 7, 4, 3, 6, 14, 12, 7, 12, 2, ..."
18,data_1c8,0.10058,0.14179,-0.015071,0,763.088650,"[3, 3, 6, 5, 0, 1, 2, 6, 4, 3, 7, 6, 0, 4, 4, ..."
19,data_1c8,0.06481,0.11463,-0.016623,1,766.291850,"[7, 0, 4, 4, 3, 7, 1, 6, 0, 5, 7, 4, 2, 6, 5, ..."
20,data_-1c8,0.53569,0.65946,-0.023767,0,765.320978,"[4, 2, 6, 7, 4, 4, 1, 3, 6, 7, 0, 1, 2, 4, 5, ..."
21,data_-1c8,0.45807,0.59022,-0.029001,1,766.809194,"[5, 0, 4, 6, 2, 2, 4, 5, 3, 6, 1, 7, 0, 2, 7, ..."
22,data_-1c4,0.44815,0.55387,-0.019051,0,761.270389,"[2, 1, 3, 1, 2, 1, 3, 2, 3, 2, 0, 0, 2, 1, 3, ..."
23,data_-1c4,0.43322,0.57055,-0.019388,1,757.922554,"[3, 1, 2, 1, 3, 1, 2, 1, 2, 3, 0, 0, 3, 1, 2, ..."

In [5]:
df.groupby("dataset").mean()

                  ARI       NMI       sil        time
dataset
data_-1c16   0.034320  0.094145 -0.036883  963.832020
data_-1c4    0.440685  0.562210 -0.019219  759.596472
data_-1c8    0.496880  0.624840 -0.026384  766.065086
data_0c16    0.006995  0.031335 -0.032500  971.720403
data_0c4     0.429915  0.496430 -0.017420  739.534538
data_0c8     0.277995  0.365460 -0.026069  740.938411
data_1.5c16  0.001910  0.019765 -0.015326  824.827570
data_1.5c4   0.010320  0.013865 -0.008033  734.955258
data_1.5c8   0.029530  0.051140 -0.011967  753.090324
data_1c16    0.003000  0.022345 -0.019160  865.134849
data_1c4     0.220580  0.249435 -0.010480  733.256835
data_1c8     0.082695  0.128210 -0.015847  764.690250

In [6]:
df

,dataset,ARI,NMI,sil,run,time,pred
0,data_0c8,0.18680,0.26332,-0.029206,0,744.910712,"[1, 0, 2, 0, 5, 1, 6, 4, 2, 0, 5, 7, 3, 4, 2, ..."
1,data_0c8,0.36919,0.46760,-0.022933,1,736.966110,"[0, 2, 1, 3, 0, 0, 3, 4, 1, 2, 1, 3, 6, 0, 5, ..."
2,data_1c4,0.19352,0.23186,-0.010612,0,730.121556,"[3, 1, 1, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
3,data_1c4,0.24764,0.26701,-0.010348,1,736.392113,"[3, 1, 2, 0, 3, 0, 1, 0, 2, 0, 2, 2, 3, 0, 2, ..."
4,data_0c16,0.00823,0.03359,-0.031106,0,841.420400,"[15, 4, 14, 6, 2, 13, 10, 7, 13, 0, 2, 10, 9, ..."
5,data_0c16,0.00576,0.02908,-0.033894,1,1102.020407,"[0, 10, 10, 3, 15, 5, 10, 11, 7, 14, 8, 14, 0,..."
6,data_1.5c16,0.00095,0.01751,-0.018174,0,778.272393,"[1, 0, 8, 14, 10, 9, 12, 15, 9, 15, 9, 15, 1, ..."
7,data_1.5c16,0.00287,0.02202,-0.012478,1,871.382746,"[14, 7, 7, 7, 12, 7, 5, 7, 6, 15, 6, 15, 14, 7..."
8,data_0c4,0.42703,0.48797,-0.017056,0,738.957551,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 0, 1, 2, 3, ..."
9,data_0c4,0.43280,0.50489,-0.017784,1,740.111526,"[2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 3, 3, 2, 2, 3, ..."
10,data_1.5c4,0.01690,0.02078,-0.007377,0,735.743090,"[0, 2, 2, 2, 0, 2, 1, 2, 2, 1, 3, 3, 0, 2, 3, ..."
11,data_1.5c4,0.00374,0.00695,-0.008688,1,734.167426,"[1, 2, 0, 0, 1, 3, 2, 0, 0, 0, 3, 3, 1, 3, 0, ..."
12,data_1.5c8,0.03517,0.05891,-0.012278,0,750.261484,"[0, 6, 7, 3, 5, 7, 1, 3, 7, 6, 0, 1, 5, 3, 7, ..."
13,data_1.5c8,0.02389,0.04337,-0.011656,1,755.919164,"[1, 3, 0, 3, 1, 0, 2, 7, 0, 3, 7, 6, 1, 7, 3, ..."
14,data_-1c16,0.02538,0.07890,-0.035985,0,1095.511913,"[2, 6, 6, 2, 9, 9, 4, 3, 6, 6, 12, 6, 9, 3, 5,..."
15,data_-1c16,0.04326,0.10939,-0.037782,1,832.152127,"[0, 13, 6, 12, 0, 8, 4, 15, 15, 11, 8, 5, 9, 1..."
16,data_1c16,0.00410,0.02451,-0.021020,0,777.547579,"[7, 6, 1, 11, 5, 8, 10, 2, 13, 6, 8, 13, 0, 6,..."
17,data_1c16,0.00190,0.02018,-0.017299,1,952.722120,"[9, 2, 1, 6, 0, 7, 4, 3, 6, 14, 12, 7, 12, 2, ..."
18,data_1c8,0.10058,0.14179,-0.015071,0,763.088650,"[3, 3, 6, 5, 0, 1, 2, 6, 4, 3, 7, 6, 0, 4, 4, ..."
19,data_1c8,0.06481,0.11463,-0.016623,1,766.291850,"[7, 0, 4, 4, 3, 7, 1, 6, 0, 5, 7, 4, 2, 6, 5, ..."
20,data_-1c8,0.53569,0.65946,-0.023767,0,765.320978,"[4, 2, 6, 7, 4, 4, 1, 3, 6, 7, 0, 1, 2, 4, 5, ..."
21,data_-1c8,0.45807,0.59022,-0.029001,1,766.809194,"[5, 0, 4, 6, 2, 2, 4, 5, 3, 6, 1, 7, 0, 2, 7, ..."
22,data_-1c4,0.44815,0.55387,-0.019051,0,761.270389,"[2, 1, 3, 1, 2, 1, 3, 2, 3, 2, 0, 0, 2, 1, 3, ..."
23,data_-1c4,0.43322,0.57055,-0.019388,1,757.922554,"[3, 1, 2, 1, 3, 1, 2, 1, 2, 3, 0, 0, 3, 1, 2, ..."