In [1]:
# Set recommended library versions
# !pip install tensorflow==1.15.0
# !pip install keras==2.1.4
# !pip install pandas==1.0.4

import tensorflow as tf
tf.__version__

'1.15.0'

# Run scDeepCluster on the simulated data

In [2]:
"""
This part implements the scDeepCluster algoritm
"""

from time import time
import numpy as np
from keras.models import Model
import keras.backend as K
from keras.engine.topology import Layer, InputSpec
from keras.layers import Dense, Input, GaussianNoise, Layer, Activation
from keras.models import Model
from keras.optimizers import SGD, Adam
from keras.utils.vis_utils import plot_model
from keras.callbacks import EarlyStopping
import pandas as pd
from sklearn.cluster import KMeans
from sklearn import metrics

import h5py
import scanpy.api as sc
from scDeepCluster_layers import ConstantDispersionLayer, SliceLayer, ColWiseMultLayer
from sklearn.metrics import adjusted_rand_score, normalized_mutual_info_score, silhouette_score, calinski_harabasz_score
from scDeepCluster_loss import poisson_loss, NB, ZINB
from scDeepCluster_preprocess import read_dataset, normalize
import tensorflow as tf

from numpy.random import seed
seed(2211)
# tf.random.set_seed(2211)
from tensorflow import set_random_seed
set_random_seed(2211)

MeanAct = lambda x: tf.clip_by_value(K.exp(x), 1e-5, 1e6)
DispAct = lambda x: tf.clip_by_value(tf.nn.softplus(x), 1e-4, 1e4)

def cluster_acc(y_true, y_pred):
    """
    Calculate clustering accuracy. Require scikit-learn installed
    # Arguments
        y: true labels, numpy.array with shape `(n_samples,)`
        y_pred: predicted labels, numpy.array with shape `(n_samples,)`
    # Return
        accuracy, in [0,1]
    """
    y_true = y_true.astype(np.int64)
    assert y_pred.size == y_true.size
    D = max(y_pred.max(), y_true.max()) + 1
    w = np.zeros((D, D), dtype=np.int64)
    for i in range(y_pred.size):
        w[y_pred[i], y_true[i]] += 1
    from sklearn.utils.linear_assignment_ import linear_assignment
    ind = linear_assignment(w.max() - w)
    return sum([w[i, j] for i, j in ind]) * 1.0 / y_pred.size


def autoencoder(dims, noise_sd=0, init='glorot_uniform', act='relu'):
    """
    Fully connected auto-encoder model, symmetric.
    Arguments:
        dims: list of number of units in each layer of encoder. dims[0] is input dim, dims[-1] is units in hidden layer.
            The decoder is symmetric with encoder. So number of layers of the auto-encoder is 2*len(dims)-1
        act: activation, not applied to Input, Hidden and Output layers
    return:
        Model of autoencoder
    """
    n_stacks = len(dims) - 1
    # input
    sf_layer = Input(shape=(1,), name='size_factors')
    x = Input(shape=(dims[0],), name='counts')
    h = x
    h = GaussianNoise(noise_sd, name='input_noise')(h)
 
    # internal layers in encoder
    for i in range(n_stacks-1):
        h = Dense(dims[i + 1], kernel_initializer=init, name='encoder_%d' % i)(h)
        h = GaussianNoise(noise_sd, name='noise_%d' % i)(h)    # add Gaussian noise
        h = Activation(act)(h)
    # hidden layer
    h = Dense(dims[-1], kernel_initializer=init, name='encoder_hidden')(h)  # hidden layer, features are extracted from here

    # internal layers in decoder
    for i in range(n_stacks-1, 0, -1):
        h = Dense(dims[i], activation=act, kernel_initializer=init, name='decoder_%d' % i)(h)

    # output
 
    pi = Dense(dims[0], activation='sigmoid', kernel_initializer=init, name='pi')(h)

    disp = Dense(dims[0], activation=DispAct, kernel_initializer=init, name='dispersion')(h)

    mean = Dense(dims[0], activation=MeanAct, kernel_initializer=init, name='mean')(h)

    output = ColWiseMultLayer(name='output')([mean, sf_layer])
    output = SliceLayer(0, name='slice')([output, disp, pi])

    return Model(inputs=[x, sf_layer], outputs=output)


class ClusteringLayer(Layer):
    """
    Clustering layer converts input sample (feature) to soft label, i.e. a vector that represents the probability of the
    sample belonging to each cluster. The probability is calculated with student's t-distribution.
    # Example
    ```
        model.add(ClusteringLayer(n_clusters=10))
    ```
    # Arguments
        n_clusters: number of clusters.
        weights: list of Numpy array with shape `(n_clusters, n_features)` witch represents the initial cluster centers.
        alpha: parameter in Student's t-distribution. Default to 1.0.
    # Input shape
        2D tensor with shape: `(n_samples, n_features)`.
    # Output shape
        2D tensor with shape: `(n_samples, n_clusters)`.
    """

    def __init__(self, n_clusters, weights=None, alpha=1.0, **kwargs):
        if 'input_shape' not in kwargs and 'input_dim' in kwargs:
            kwargs['input_shape'] = (kwargs.pop('input_dim'),)
        super(ClusteringLayer, self).__init__(**kwargs)
        self.n_clusters = n_clusters
        self.alpha = alpha
        self.initial_weights = weights
        self.input_spec = InputSpec(ndim=2)

    def build(self, input_shape):
        assert len(input_shape) == 2
        input_dim = input_shape[1]
        self.input_spec = InputSpec(dtype=K.floatx(), shape=(None, input_dim))
        self.clusters = self.add_weight(shape = (self.n_clusters, input_dim), 
                                        initializer='glorot_uniform',
                                        name='clusters')
        if self.initial_weights is not None:
            self.set_weights(self.initial_weights)
            del self.initial_weights
        self.built = True

    def call(self, inputs, **kwargs):
        """ student t-distribution, as same as used in t-SNE algorithm.
                 q_ij = 1/(1+dist(x_i, u_j)^2), then normalize it.
        Arguments:
            inputs: the variable containing data, shape=(n_samples, n_features)
        Return:
            q: student's t-distribution, or soft labels for each sample. shape=(n_samples, n_clusters)
        """
        q = 1.0 / (1.0 + (K.sum(K.square(K.expand_dims(inputs, axis=1) - self.clusters), axis=2) / self.alpha))
        q **= (self.alpha + 1.0) / 2.0
        q = K.transpose(K.transpose(q) / K.sum(q, axis=1))
        return q

    def compute_output_shape(self, input_shape):
        assert input_shape and len(input_shape) == 2
        return input_shape[0], self.n_clusters

    def get_config(self):
        config = {'n_clusters': self.n_clusters}
        base_config = super(ClusteringLayer, self).get_config()
        return dict(list(base_config.items()) + list(config.items()))



class SCDeepCluster(object):
    def __init__(self,
                 dims,
                 n_clusters=10,
                 noise_sd=0,
                 alpha=1.0,
                 ridge=0,
                 debug=False):

        super(SCDeepCluster, self).__init__()

        self.dims = dims
        self.input_dim = dims[0]
        self.n_stacks = len(self.dims) - 1

        self.n_clusters = n_clusters
        self.noise_sd = noise_sd
        self.alpha = alpha
        self.act = 'relu'
        self.ridge = ridge
        self.debug = debug
        self.autoencoder = autoencoder(self.dims, noise_sd=self.noise_sd, act = self.act)
        
        # prepare clean encode model without Gaussian noise
        ae_layers = [l for l in self.autoencoder.layers]
        hidden = self.autoencoder.input[0]
        for i in range(1, len(ae_layers)):
            if "noise" in ae_layers[i].name:
                next
            elif "dropout" in ae_layers[i].name:
                next
            else:
                hidden = ae_layers[i](hidden)
            if "encoder_hidden" in ae_layers[i].name:  # only get encoder layers
                break
        self.encoder = Model(inputs=self.autoencoder.input, outputs=hidden)

        pi = self.autoencoder.get_layer(name='pi').output
        disp = self.autoencoder.get_layer(name='dispersion').output
        mean = self.autoencoder.get_layer(name='mean').output
        zinb = ZINB(pi, theta=disp, ridge_lambda=self.ridge, debug=self.debug)
        self.loss = zinb.loss

        clustering_layer = ClusteringLayer(self.n_clusters, alpha=self.alpha, name='clustering')(hidden)
        self.model = Model(inputs=[self.autoencoder.input[0], self.autoencoder.input[1]],
                           outputs=[clustering_layer, self.autoencoder.output])

        self.pretrained = False
        self.centers = []
        self.y_pred = []

    def pretrain(self, x, y, batch_size=256, epochs=200, optimizer='adam', ae_file='ae_weights.h5'):
        print('...Pretraining autoencoder...')
        self.autoencoder.compile(loss=self.loss, optimizer=optimizer)
        es = EarlyStopping(monitor="loss", patience=50, verbose=1)
        self.autoencoder.fit(x=x, y=y, batch_size=batch_size, epochs=epochs, callbacks=[es], verbose = 0)
        self.autoencoder.save_weights(ae_file)
        print('Pretrained weights are saved to ./' + str(ae_file))
        self.pretrained = True

    def load_weights(self, weights_path):  # load weights of scDeepCluster model
        self.model.load_weights(weights_path)

    def extract_feature(self, x):  # extract features from before clustering layer
        return self.encoder.predict(x)

    def predict_clusters(self, x):  # predict cluster labels using the output of clustering layer
        q, _ = self.model.predict(x, verbose=0)
        return q.argmax(1)

    @staticmethod
    def target_distribution(q):  # target distribution P which enhances the discrimination of soft label Q
        weight = q ** 2 / q.sum(0)
        return (weight.T / weight.sum(1)).T

    def fit(self, x_counts, sf, y, raw_counts, batch_size=256, maxiter=2e4, tol=1e-3, update_interval=140,
            ae_weights=None, save_dir='./output/pickle_results/scDeepCluster', loss_weights=[1,1], optimizer='adadelta'):

        self.model.compile(loss=['kld', self.loss], loss_weights=loss_weights, optimizer=optimizer)

        print('Update interval', update_interval)
        save_interval = int(x_counts.shape[0] / batch_size) * 5  # 5 epochs
        print('Save interval', save_interval)

        # Step 1: pretrain
        if not self.pretrained and ae_weights is None:
            print('...pretraining autoencoders using default hyper-parameters:')
            print('   optimizer=\'adam\';   epochs=200')
            self.pretrain(x, batch_size)
            self.pretrained = True
        elif ae_weights is not None:
            self.autoencoder.load_weights(ae_weights)
            print('ae_weights is loaded successfully.')

        # Step 2: initialize cluster centers using k-means
        print('Initializing cluster centers with k-means.')
        kmeans = KMeans(n_clusters=self.n_clusters, n_init=20)
        self.y_pred = kmeans.fit_predict(self.encoder.predict([x_counts, sf]))
        y_pred_last = np.copy(self.y_pred)
        self.model.get_layer(name='clustering').set_weights([kmeans.cluster_centers_])

        # Step 3: deep clustering
        # logging file
        import csv, os
        if not os.path.exists(save_dir):
            os.makedirs(save_dir)
        logfile = open(save_dir + '/scDeepCluster_log.csv', 'w')
        logwriter = csv.DictWriter(logfile, fieldnames=['iter', 'acc', 'nmi', 'ari', 'L', 'Lc', 'Lr'])
        logwriter.writeheader()

        loss = [0, 0, 0]
        index = 0
        for ite in range(int(maxiter)):
            if ite % update_interval == 0:
                q, _ = self.model.predict([x_counts, sf], verbose=0)
                self.features = self.extract_feature([x_counts, sf])
                p = self.target_distribution(q)  # update the auxiliary target distribution p

                # evaluate the clustering performance
                self.y_pred = q.argmax(1)
                if y is not None:
#                     acc = np.round(cluster_acc(y, self.y_pred), 5)
                    nmi = np.round(metrics.normalized_mutual_info_score(y, self.y_pred), 5)
                    ari = np.round(metrics.adjusted_rand_score(y, self.y_pred), 5)
                    loss = np.round(loss, 5)
                    
                # check stop criterion
                delta_label = np.sum(self.y_pred != y_pred_last).astype(np.float32) / self.y_pred.shape[0]
                y_pred_last = np.copy(self.y_pred)
                if ite > 0 and delta_label < tol:
                    print('delta_label ', delta_label, '< tol ', tol)
                    print('Reached tolerance threshold. Stopping training.')
                    logfile.close()
                    break

            # train on batch
            if (index + 1) * batch_size > x_counts.shape[0]:
                loss = self.model.train_on_batch(x=[x_counts[index * batch_size::], sf[index * batch_size:]],
                                                 y=[p[index * batch_size::], raw_counts[index * batch_size::]])
                index = 0
            else:
                loss = self.model.train_on_batch(x=[x_counts[index * batch_size:(index + 1) * batch_size], 
                                                    sf[index * batch_size:(index + 1) * batch_size]],
                                                 y=[p[index * batch_size:(index + 1) * batch_size],
                                                    raw_counts[index * batch_size:(index + 1) * batch_size]])
                index += 1

            # save intermediate model
#             if ite % save_interval == 0:
#                 # save scDeepCluster model checkpoints
#                 print('saving model to: ' + save_dir + '/scDeepCluster_model_' + str(ite) + '.h5')
#                 self.model.save_weights(save_dir + '/scDeepCluster_model_' + str(ite) + '.h5')

            ite += 1

        # save the trained model
        logfile.close()
        print('saving model to: ' + save_dir + '/scDeepCluster_model_final.h5')
        self.model.save_weights(save_dir + '/scDeepCluster_model_final.h5')
        
        return self.y_pred

Using TensorFlow backend.

WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

/opt/conda/lib/python3.7/site-packages/scanpy/api/__init__.py:7: FutureWarning:

In a future version of Scanpy, `scanpy.api` will be removed.
Simply use `import scanpy as sc` and `import scanpy.external as sce` instead.

  FutureWarning,

In [3]:
import sys
sys.path.append("..")
import glob2
import os

In [4]:
category = "real_data"
df = pd.read_pickle(
    f"../output/pickle_results/{category}/{category}_scDeepCluster_full.pkl"
)
df

,dataset,ARI,NMI,sil,run,time,pred
0,worm_neuron_cell,0.45058,0.66880,-0.043893,0,3197.645042,"[3, 3, 6, 3, 8, 7, 9, 5, 1, 7, 9, 1, 9, 6, 1, ..."
1,worm_neuron_cell,0.59111,0.72651,-0.077288,1,3207.626115,"[5, 5, 2, 9, 4, 9, 9, 4, 7, 9, 1, 7, 9, 2, 7, ..."
2,mouse_ES_cell,0.53629,0.66650,0.021175,0,3817.521759,"[0, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, ..."
3,mouse_ES_cell,0.87223,0.85359,0.002629,1,3718.663101,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
4,mouse_bladder_cell,0.50613,0.69419,-0.035686,0,3721.444118,"[10, 9, 6, 13, 2, 6, 5, 2, 7, 8, 10, 7, 11, 5,..."
5,mouse_bladder_cell,0.57045,0.72771,-0.025315,1,3549.732326,"[15, 6, 14, 8, 10, 14, 6, 10, 13, 7, 4, 11, 3,..."
6,10X_PBMC,0.81013,0.79381,-0.015600,0,4288.175346,"[5, 5, 5, 0, 2, 2, 3, 3, 4, 1, 4, 2, 2, 2, 3, ..."
7,10X_PBMC,0.71036,0.76424,-0.022109,1,4255.594072,"[3, 3, 3, 5, 7, 5, 4, 4, 6, 4, 6, 7, 2, 0, 4, ..."
8,Quake_10x_Bladder,0.48326,0.63493,-0.022523,0,2565.571199,"[1, 0, 0, 2, 0, 3, 3, 1, 2, 3, 2, 1, 1, 0, 1, ..."
9,Quake_10x_Bladder,0.72893,0.76229,0.042024,1,2399.915950,"[3, 3, 1, 0, 1, 2, 0, 3, 0, 0, 0, 3, 3, 1, 3, ..."
10,Young,0.53483,0.63473,-0.071393,0,15353.940312,"[2, 2, 4, 2, 2, 2, 6, 2, 2, 2, 2, 2, 2, 2, 2, ..."
11,Quake_10x_Limb_Muscle,0.77769,0.87949,0.000348,0,6600.707807,"[4, 0, 5, 3, 1, 1, 2, 1, 4, 1, 1, 1, 4, 2, 3, ..."
12,Adam,0.68804,0.77127,-0.013117,0,8330.234775,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, ..."
13,Quake_Smart-seq2_Trachea,0.48609,0.53899,0.000451,0,2770.095253,"[2, 2, 2, 2, 2, 0, 2, 2, 3, 0, 0, 2, 0, 0, 0, ..."
14,Quake_Smart-seq2_Limb_Muscle,0.55351,0.69501,-0.024257,0,2112.942765,"[3, 5, 4, 5, 5, 5, 0, 3, 5, 5, 5, 5, 2, 1, 2, ..."
15,Quake_Smart-seq2_Lung,0.41602,0.69553,-0.030763,0,3513.323797,"[2, 3, 2, 10, 2, 3, 9, 2, 0, 8, 0, 7, 0, 0, 3,..."
16,Romanov,0.46859,0.53329,-0.040668,0,6428.811723,"[1, 1, 6, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
17,Muraro,0.69232,0.81113,-0.007209,0,4135.022078,"[8, 3, 8, 1, 2, 2, 8, 0, 8, 4, 4, 1, 6, 8, 8, ..."
18,Quake_Smart-seq2_Diaphragm,0.87348,0.84288,0.017397,0,1641.024988,"[0, 2, 4, 1, 1, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, ..."
19,Young,0.46437,0.62721,-0.073313,0,15523.433750,"[2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."

In [7]:
for category in ["real_data",
#                  "balanced_data", "imbalanced_data"
                ]:

    path = ".."
    if category in ["balanced_data", "imbalanced_data"]:
        files = glob2.glob(f'{path}/R/simulated_data/{category}/*.h5')
        files = [
            f[len(f"{path}/R/simulated_data/{category}/"):-3] for f in files
        ]
    else:
        files = glob2.glob(f'{path}/real_data/*.h5')
        files = [f[len(f"{path}/real_data/"):-3] for f in files]
        files = [
            'worm_neuron_cell',
            'mouse_ES_cell',
            'mouse_bladder_cell',
            '10X_PBMC',
            'Quake_10x_Bladder',
            'Young',
            'Quake_10x_Limb_Muscle',
            'Adam',
            'Quake_Smart-seq2_Trachea',
            'Quake_Smart-seq2_Limb_Muscle',
            'Quake_Smart-seq2_Lung',
            'Romanov',
            'Muraro',
            'Quake_Smart-seq2_Diaphragm',
            'Quake_10x_Spleen',
        ]
    print(files)

    df = pd.DataFrame(
        columns=["dataset", "ARI", "NMI", "sil", "run", "time", "pred", "cal"])
    for dataset in files:
        if category in ["balanced_data", "imbalanced_data"]:
            data_mat = h5py.File(
                f"{path}/R/simulated_data/{category}/{dataset}.h5", "r")
        else:
            data_mat = h5py.File(f"{path}/real_data/{dataset}.h5", "r")

        y = np.array(data_mat['Y'])
        x = np.array(data_mat['X'])
        print(f">>>>dataset {dataset}")

        for run in [0, 1]:
            start = time()
            #### Run scDeepCluster on the simulated data
            x = np.ceil(x).astype(np.int)
            optimizer1 = Adam(amsgrad=True)
            optimizer2 = 'adadelta'

            # preprocessing scRNA-seq read counts matrix
            adata = sc.AnnData(x)
            adata.obs['Group'] = y

            adata = read_dataset(adata,
                                 transpose=False,
                                 test_split=False,
                                 copy=True)

            adata = normalize(adata,
                              size_factors=True,
                              normalize_input=True,
                              logtrans_input=True)

            input_size = adata.n_vars

            print('Sample size')
            print(adata.X.shape)
            print(y.shape)

            x_sd = adata.X.std(0)
            x_sd_median = np.median(x_sd)

            update_interval = int(adata.X.shape[0] / 256)

            seed = run
            np.random.seed(seed)
            # Define scDeepCluster model
            scDeepCluster = SCDeepCluster(dims=[input_size, 256, 64, 32],
                                          n_clusters=np.unique(y).shape[0],
                                          noise_sd=2.5)

            t0 = time()

            # Pretrain autoencoders before clustering
            scDeepCluster.pretrain(x=[adata.X, adata.obs.size_factors],
                                   y=adata.raw.X,
                                   batch_size=256,
                                   epochs=600,
                                   optimizer=optimizer1,
                                   ae_file='ae_weights.h5')

            # begin clustering, time not include pretraining part.

            gamma = 1.  # set hyperparameter gamma
            scDeepCluster.fit(
                x_counts=adata.X,
                sf=adata.obs.size_factors,
                y=y,
                raw_counts=adata.raw.X,
                batch_size=256,
                tol=0.001,
                maxiter=20000,
                update_interval=update_interval,
                ae_weights=None,
                save_dir='scDeepCluster',
                loss_weights=[gamma, 1],
                optimizer=optimizer2)

            # Show the final results
            y_pred = scDeepCluster.y_pred
            nmi = np.round(
                metrics.normalized_mutual_info_score(y, scDeepCluster.y_pred),
                5)
            ari = np.round(
                metrics.adjusted_rand_score(y, scDeepCluster.y_pred), 5)
            print('Final: NMI= %.4f, ARI= %.4f' % (nmi, ari))

            elapsed = time() - start
            ss = silhouette_score(scDeepCluster.features, scDeepCluster.y_pred)
            cal = calinski_harabasz_score(scDeepCluster.features, scDeepCluster.y_pred)
            
            print(ss, cal)
            df.loc[df.shape[0]] = [
                dataset, ari, nmi, ss, run, elapsed, scDeepCluster.y_pred, cal
            ]

            df.to_pickle(
                f"../output/pickle_results/{category}/{category}_scDeepCluster.pkl"
            )
            display(df)

['data_0c8', 'data_1c4', 'data_0c16', 'data_1.5c16', 'data_0c4', 'data_1.5c4', 'data_1.5c8', 'data_-1c16', 'data_1c16', 'data_1c8', 'data_-1c8', 'data_-1c4']
>>>>dataset data_0c8
### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2490)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0005 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.2537, ARI= 0.1469
0.7837518 9947.286644802274

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645

### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2490)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0005 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.2546, ARI= 0.1449
0.8406384 17873.372513672923

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514

>>>>dataset data_1c4
### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2480)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0727, ARI= 0.0554
0.7998139 8544.127833701974

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834

### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2480)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0696, ARI= 0.0517
0.7812475 7781.927887036357

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887

>>>>dataset data_0c16
### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2491)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.00075 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.1233, ARI= 0.0442
0.82556707 29223.332786336246

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786

### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2491)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.0005 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.1580, ARI= 0.0562
0.8357625 31837.171966074824

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966

>>>>dataset data_1.5c16
### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2481)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.00075 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0168, ARI= 0.0021
0.816071 64533.67554205317

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542

### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2481)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0168, ARI= 0.0022
0.88154787 76750.94224844319

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248

>>>>dataset data_0c4
### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2487)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.1920, ARI= 0.1541
0.6910073 3571.553096283737

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096

### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2487)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.5074, ARI= 0.4948
0.8558266 11650.477697562028

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698

>>>>dataset data_1.5c4
### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2471)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0763, ARI= 0.0533
0.7890223 7209.765653057061

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698
10,data_1.5c4,0.05334,0.07627,0.789022,0,255.100847,"[2, 1, 2, 2, 1, 2, 0, 1, 3, 3, 1, 3, 0, 1, 1, ...",7209.765653

### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2471)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0083, ARI= 0.0046
0.68048096 6238.530105148216

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698
10,data_1.5c4,0.05334,0.07627,0.789022,0,255.100847,"[2, 1, 2, 2, 1, 2, 0, 1, 3, 3, 1, 3, 0, 1, 1, ...",7209.765653
11,data_1.5c4,0.00465,0.00829,0.680481,1,253.248610,"[0, 3, 3, 0, 3, 2, 1, 3, 2, 3, 2, 3, 1, 0, 1, ...",6238.530105

>>>>dataset data_1.5c8
### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2477)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0331, ARI= 0.0134
0.79633147 26205.925605459484

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698
10,data_1.5c4,0.05334,0.07627,0.789022,0,255.100847,"[2, 1, 2, 2, 1, 2, 0, 1, 3, 3, 1, 3, 0, 1, 1, ...",7209.765653
11,data_1.5c4,0.00465,0.00829,0.680481,1,253.248610,"[0, 3, 3, 0, 3, 2, 1, 3, 2, 3, 2, 3, 1, 0, 1, ...",6238.530105
12,data_1.5c8,0.01342,0.03315,0.796331,0,494.899589,"[7, 1, 2, 7, 4, 1, 2, 4, 0, 0, 0, 0, 1, 6, 0, ...",26205.925605

### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2477)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0005 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0256, ARI= 0.0106
0.76475364 19132.547832685574

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698
10,data_1.5c4,0.05334,0.07627,0.789022,0,255.100847,"[2, 1, 2, 2, 1, 2, 0, 1, 3, 3, 1, 3, 0, 1, 1, ...",7209.765653
11,data_1.5c4,0.00465,0.00829,0.680481,1,253.248610,"[0, 3, 3, 0, 3, 2, 1, 3, 2, 3, 2, 3, 1, 0, 1, ...",6238.530105
12,data_1.5c8,0.01342,0.03315,0.796331,0,494.899589,"[7, 1, 2, 7, 4, 1, 2, 4, 0, 0, 0, 0, 1, 6, 0, ...",26205.925605
13,data_1.5c8,0.01063,0.02559,0.764754,1,488.726228,"[2, 3, 0, 2, 3, 4, 0, 3, 1, 7, 1, 6, 4, 5, 1, ...",19132.547833

>>>>dataset data_-1c16
### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2494)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.00075 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.4341, ARI= 0.2430
0.83741957 15793.93297757949

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698
10,data_1.5c4,0.05334,0.07627,0.789022,0,255.100847,"[2, 1, 2, 2, 1, 2, 0, 1, 3, 3, 1, 3, 0, 1, 1, ...",7209.765653
11,data_1.5c4,0.00465,0.00829,0.680481,1,253.248610,"[0, 3, 3, 0, 3, 2, 1, 3, 2, 3, 2, 3, 1, 0, 1, ...",6238.530105
12,data_1.5c8,0.01342,0.03315,0.796331,0,494.899589,"[7, 1, 2, 7, 4, 1, 2, 4, 0, 0, 0, 0, 1, 6, 0, ...",26205.925605
13,data_1.5c8,0.01063,0.02559,0.764754,1,488.726228,"[2, 3, 0, 2, 3, 4, 0, 3, 1, 7, 1, 6, 4, 5, 1, ...",19132.547833
14,data_-1c16,0.24305,0.43408,0.837420,0,1003.240664,"[15, 0, 4, 14, 12, 12, 10, 4, 8, 6, 11, 7, 6, ...",15793.932978

### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2494)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.00075 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.4343, ARI= 0.2408
0.83078295 14008.196239778217

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698
10,data_1.5c4,0.05334,0.07627,0.789022,0,255.100847,"[2, 1, 2, 2, 1, 2, 0, 1, 3, 3, 1, 3, 0, 1, 1, ...",7209.765653
11,data_1.5c4,0.00465,0.00829,0.680481,1,253.248610,"[0, 3, 3, 0, 3, 2, 1, 3, 2, 3, 2, 3, 1, 0, 1, ...",6238.530105
12,data_1.5c8,0.01342,0.03315,0.796331,0,494.899589,"[7, 1, 2, 7, 4, 1, 2, 4, 0, 0, 0, 0, 1, 6, 0, ...",26205.925605
13,data_1.5c8,0.01063,0.02559,0.764754,1,488.726228,"[2, 3, 0, 2, 3, 4, 0, 3, 1, 7, 1, 6, 4, 5, 1, ...",19132.547833
14,data_-1c16,0.24305,0.43408,0.837420,0,1003.240664,"[15, 0, 4, 14, 12, 12, 10, 4, 8, 6, 11, 7, 6, ...",15793.932978
15,data_-1c16,0.24079,0.43433,0.830783,1,1026.531404,"[13, 4, 5, 7, 2, 11, 8, 11, 15, 14, 12, 6, 4, ...",14008.196240

>>>>dataset data_1c16
### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2488)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.00075 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0316, ARI= 0.0072
0.8340142 68101.42787093036

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698
10,data_1.5c4,0.05334,0.07627,0.789022,0,255.100847,"[2, 1, 2, 2, 1, 2, 0, 1, 3, 3, 1, 3, 0, 1, 1, ...",7209.765653
11,data_1.5c4,0.00465,0.00829,0.680481,1,253.248610,"[0, 3, 3, 0, 3, 2, 1, 3, 2, 3, 2, 3, 1, 0, 1, ...",6238.530105
12,data_1.5c8,0.01342,0.03315,0.796331,0,494.899589,"[7, 1, 2, 7, 4, 1, 2, 4, 0, 0, 0, 0, 1, 6, 0, ...",26205.925605
13,data_1.5c8,0.01063,0.02559,0.764754,1,488.726228,"[2, 3, 0, 2, 3, 4, 0, 3, 1, 7, 1, 6, 4, 5, 1, ...",19132.547833
14,data_-1c16,0.24305,0.43408,0.837420,0,1003.240664,"[15, 0, 4, 14, 12, 12, 10, 4, 8, 6, 11, 7, 6, ...",15793.932978
15,data_-1c16,0.24079,0.43433,0.830783,1,1026.531404,"[13, 4, 5, 7, 2, 11, 8, 11, 15, 14, 12, 6, 4, ...",14008.196240
16,data_1c16,0.00724,0.03159,0.834014,0,1002.068875,"[4, 13, 12, 7, 8, 6, 5, 8, 13, 5, 11, 1, 6, 1,...",68101.427871

### Autoencoder: Successfully preprocessed 2500 genes and 4000 cells.
Sample size
(4000, 2488)
(4000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 15
Save interval 75
Initializing cluster centers with k-means.
delta_label  0.00025 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0152, ARI= 0.0014
0.89519006 98837.08245673856

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698
10,data_1.5c4,0.05334,0.07627,0.789022,0,255.100847,"[2, 1, 2, 2, 1, 2, 0, 1, 3, 3, 1, 3, 0, 1, 1, ...",7209.765653
11,data_1.5c4,0.00465,0.00829,0.680481,1,253.248610,"[0, 3, 3, 0, 3, 2, 1, 3, 2, 3, 2, 3, 1, 0, 1, ...",6238.530105
12,data_1.5c8,0.01342,0.03315,0.796331,0,494.899589,"[7, 1, 2, 7, 4, 1, 2, 4, 0, 0, 0, 0, 1, 6, 0, ...",26205.925605
13,data_1.5c8,0.01063,0.02559,0.764754,1,488.726228,"[2, 3, 0, 2, 3, 4, 0, 3, 1, 7, 1, 6, 4, 5, 1, ...",19132.547833
14,data_-1c16,0.24305,0.43408,0.837420,0,1003.240664,"[15, 0, 4, 14, 12, 12, 10, 4, 8, 6, 11, 7, 6, ...",15793.932978
15,data_-1c16,0.24079,0.43433,0.830783,1,1026.531404,"[13, 4, 5, 7, 2, 11, 8, 11, 15, 14, 12, 6, 4, ...",14008.196240
16,data_1c16,0.00724,0.03159,0.834014,0,1002.068875,"[4, 13, 12, 7, 8, 6, 5, 8, 13, 5, 11, 1, 6, 1,...",68101.427871
17,data_1c16,0.00141,0.01522,0.895190,1,1384.645223,"[8, 11, 13, 5, 6, 4, 14, 15, 0, 11, 7, 4, 12, ...",98837.082457

>>>>dataset data_1c8
### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2479)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0601, ARI= 0.0275
0.7939009 18882.23206081495

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698
10,data_1.5c4,0.05334,0.07627,0.789022,0,255.100847,"[2, 1, 2, 2, 1, 2, 0, 1, 3, 3, 1, 3, 0, 1, 1, ...",7209.765653
11,data_1.5c4,0.00465,0.00829,0.680481,1,253.248610,"[0, 3, 3, 0, 3, 2, 1, 3, 2, 3, 2, 3, 1, 0, 1, ...",6238.530105
12,data_1.5c8,0.01342,0.03315,0.796331,0,494.899589,"[7, 1, 2, 7, 4, 1, 2, 4, 0, 0, 0, 0, 1, 6, 0, ...",26205.925605
13,data_1.5c8,0.01063,0.02559,0.764754,1,488.726228,"[2, 3, 0, 2, 3, 4, 0, 3, 1, 7, 1, 6, 4, 5, 1, ...",19132.547833
14,data_-1c16,0.24305,0.43408,0.837420,0,1003.240664,"[15, 0, 4, 14, 12, 12, 10, 4, 8, 6, 11, 7, 6, ...",15793.932978
15,data_-1c16,0.24079,0.43433,0.830783,1,1026.531404,"[13, 4, 5, 7, 2, 11, 8, 11, 15, 14, 12, 6, 4, ...",14008.196240
16,data_1c16,0.00724,0.03159,0.834014,0,1002.068875,"[4, 13, 12, 7, 8, 6, 5, 8, 13, 5, 11, 1, 6, 1,...",68101.427871
17,data_1c16,0.00141,0.01522,0.895190,1,1384.645223,"[8, 11, 13, 5, 6, 4, 14, 15, 0, 11, 7, 4, 12, ...",98837.082457
18,data_1c8,0.02752,0.06014,0.793901,0,501.622234,"[1, 5, 2, 5, 5, 5, 2, 5, 7, 4, 4, 4, 5, 2, 7, ...",18882.232061

### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2479)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0375, ARI= 0.0153
0.7612651 17231.741995961183

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698
10,data_1.5c4,0.05334,0.07627,0.789022,0,255.100847,"[2, 1, 2, 2, 1, 2, 0, 1, 3, 3, 1, 3, 0, 1, 1, ...",7209.765653
11,data_1.5c4,0.00465,0.00829,0.680481,1,253.248610,"[0, 3, 3, 0, 3, 2, 1, 3, 2, 3, 2, 3, 1, 0, 1, ...",6238.530105
12,data_1.5c8,0.01342,0.03315,0.796331,0,494.899589,"[7, 1, 2, 7, 4, 1, 2, 4, 0, 0, 0, 0, 1, 6, 0, ...",26205.925605
13,data_1.5c8,0.01063,0.02559,0.764754,1,488.726228,"[2, 3, 0, 2, 3, 4, 0, 3, 1, 7, 1, 6, 4, 5, 1, ...",19132.547833
14,data_-1c16,0.24305,0.43408,0.837420,0,1003.240664,"[15, 0, 4, 14, 12, 12, 10, 4, 8, 6, 11, 7, 6, ...",15793.932978
15,data_-1c16,0.24079,0.43433,0.830783,1,1026.531404,"[13, 4, 5, 7, 2, 11, 8, 11, 15, 14, 12, 6, 4, ...",14008.196240
16,data_1c16,0.00724,0.03159,0.834014,0,1002.068875,"[4, 13, 12, 7, 8, 6, 5, 8, 13, 5, 11, 1, 6, 1,...",68101.427871
17,data_1c16,0.00141,0.01522,0.895190,1,1384.645223,"[8, 11, 13, 5, 6, 4, 14, 15, 0, 11, 7, 4, 12, ...",98837.082457
18,data_1c8,0.02752,0.06014,0.793901,0,501.622234,"[1, 5, 2, 5, 5, 5, 2, 5, 7, 4, 4, 4, 5, 2, 7, ...",18882.232061
19,data_1c8,0.01526,0.03752,0.761265,1,510.797434,"[7, 6, 1, 3, 3, 6, 5, 3, 2, 4, 0, 0, 6, 2, 4, ...",17231.741996

>>>>dataset data_-1c8
### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2492)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0005 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.7110, ARI= 0.6055
0.8362938 11030.433431488074

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698
10,data_1.5c4,0.05334,0.07627,0.789022,0,255.100847,"[2, 1, 2, 2, 1, 2, 0, 1, 3, 3, 1, 3, 0, 1, 1, ...",7209.765653
11,data_1.5c4,0.00465,0.00829,0.680481,1,253.248610,"[0, 3, 3, 0, 3, 2, 1, 3, 2, 3, 2, 3, 1, 0, 1, ...",6238.530105
12,data_1.5c8,0.01342,0.03315,0.796331,0,494.899589,"[7, 1, 2, 7, 4, 1, 2, 4, 0, 0, 0, 0, 1, 6, 0, ...",26205.925605
13,data_1.5c8,0.01063,0.02559,0.764754,1,488.726228,"[2, 3, 0, 2, 3, 4, 0, 3, 1, 7, 1, 6, 4, 5, 1, ...",19132.547833
14,data_-1c16,0.24305,0.43408,0.837420,0,1003.240664,"[15, 0, 4, 14, 12, 12, 10, 4, 8, 6, 11, 7, 6, ...",15793.932978
15,data_-1c16,0.24079,0.43433,0.830783,1,1026.531404,"[13, 4, 5, 7, 2, 11, 8, 11, 15, 14, 12, 6, 4, ...",14008.196240
16,data_1c16,0.00724,0.03159,0.834014,0,1002.068875,"[4, 13, 12, 7, 8, 6, 5, 8, 13, 5, 11, 1, 6, 1,...",68101.427871
17,data_1c16,0.00141,0.01522,0.895190,1,1384.645223,"[8, 11, 13, 5, 6, 4, 14, 15, 0, 11, 7, 4, 12, ...",98837.082457
18,data_1c8,0.02752,0.06014,0.793901,0,501.622234,"[1, 5, 2, 5, 5, 5, 2, 5, 7, 4, 4, 4, 5, 2, 7, ...",18882.232061
19,data_1c8,0.01526,0.03752,0.761265,1,510.797434,"[7, 6, 1, 3, 3, 6, 5, 3, 2, 4, 0, 0, 6, 2, 4, ...",17231.741996
20,data_-1c8,0.60548,0.71097,0.836294,0,497.980588,"[7, 7, 2, 0, 4, 4, 1, 7, 2, 1, 2, 1, 7, 4, 1, ...",11030.433431

### Autoencoder: Successfully preprocessed 2500 genes and 2000 cells.
Sample size
(2000, 2492)
(2000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 7
Save interval 35
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.8109, ARI= 0.7463
0.74840933 5947.4779563461

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698
10,data_1.5c4,0.05334,0.07627,0.789022,0,255.100847,"[2, 1, 2, 2, 1, 2, 0, 1, 3, 3, 1, 3, 0, 1, 1, ...",7209.765653
11,data_1.5c4,0.00465,0.00829,0.680481,1,253.248610,"[0, 3, 3, 0, 3, 2, 1, 3, 2, 3, 2, 3, 1, 0, 1, ...",6238.530105
12,data_1.5c8,0.01342,0.03315,0.796331,0,494.899589,"[7, 1, 2, 7, 4, 1, 2, 4, 0, 0, 0, 0, 1, 6, 0, ...",26205.925605
13,data_1.5c8,0.01063,0.02559,0.764754,1,488.726228,"[2, 3, 0, 2, 3, 4, 0, 3, 1, 7, 1, 6, 4, 5, 1, ...",19132.547833
14,data_-1c16,0.24305,0.43408,0.837420,0,1003.240664,"[15, 0, 4, 14, 12, 12, 10, 4, 8, 6, 11, 7, 6, ...",15793.932978
15,data_-1c16,0.24079,0.43433,0.830783,1,1026.531404,"[13, 4, 5, 7, 2, 11, 8, 11, 15, 14, 12, 6, 4, ...",14008.196240
16,data_1c16,0.00724,0.03159,0.834014,0,1002.068875,"[4, 13, 12, 7, 8, 6, 5, 8, 13, 5, 11, 1, 6, 1,...",68101.427871
17,data_1c16,0.00141,0.01522,0.895190,1,1384.645223,"[8, 11, 13, 5, 6, 4, 14, 15, 0, 11, 7, 4, 12, ...",98837.082457
18,data_1c8,0.02752,0.06014,0.793901,0,501.622234,"[1, 5, 2, 5, 5, 5, 2, 5, 7, 4, 4, 4, 5, 2, 7, ...",18882.232061
19,data_1c8,0.01526,0.03752,0.761265,1,510.797434,"[7, 6, 1, 3, 3, 6, 5, 3, 2, 4, 0, 0, 6, 2, 4, ...",17231.741996
20,data_-1c8,0.60548,0.71097,0.836294,0,497.980588,"[7, 7, 2, 0, 4, 4, 1, 7, 2, 1, 2, 1, 7, 4, 1, ...",11030.433431
21,data_-1c8,0.74630,0.81093,0.748409,1,502.039971,"[4, 4, 0, 1, 7, 7, 6, 4, 0, 3, 0, 2, 4, 7, 6, ...",5947.477956

>>>>dataset data_-1c4
### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2490)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.9702, ARI= 0.9820
0.49822724 999.4920756633016

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698
10,data_1.5c4,0.05334,0.07627,0.789022,0,255.100847,"[2, 1, 2, 2, 1, 2, 0, 1, 3, 3, 1, 3, 0, 1, 1, ...",7209.765653
11,data_1.5c4,0.00465,0.00829,0.680481,1,253.248610,"[0, 3, 3, 0, 3, 2, 1, 3, 2, 3, 2, 3, 1, 0, 1, ...",6238.530105
12,data_1.5c8,0.01342,0.03315,0.796331,0,494.899589,"[7, 1, 2, 7, 4, 1, 2, 4, 0, 0, 0, 0, 1, 6, 0, ...",26205.925605
13,data_1.5c8,0.01063,0.02559,0.764754,1,488.726228,"[2, 3, 0, 2, 3, 4, 0, 3, 1, 7, 1, 6, 4, 5, 1, ...",19132.547833
14,data_-1c16,0.24305,0.43408,0.837420,0,1003.240664,"[15, 0, 4, 14, 12, 12, 10, 4, 8, 6, 11, 7, 6, ...",15793.932978
15,data_-1c16,0.24079,0.43433,0.830783,1,1026.531404,"[13, 4, 5, 7, 2, 11, 8, 11, 15, 14, 12, 6, 4, ...",14008.196240
16,data_1c16,0.00724,0.03159,0.834014,0,1002.068875,"[4, 13, 12, 7, 8, 6, 5, 8, 13, 5, 11, 1, 6, 1,...",68101.427871
17,data_1c16,0.00141,0.01522,0.895190,1,1384.645223,"[8, 11, 13, 5, 6, 4, 14, 15, 0, 11, 7, 4, 12, ...",98837.082457
18,data_1c8,0.02752,0.06014,0.793901,0,501.622234,"[1, 5, 2, 5, 5, 5, 2, 5, 7, 4, 4, 4, 5, 2, 7, ...",18882.232061
19,data_1c8,0.01526,0.03752,0.761265,1,510.797434,"[7, 6, 1, 3, 3, 6, 5, 3, 2, 4, 0, 0, 6, 2, 4, ...",17231.741996
20,data_-1c8,0.60548,0.71097,0.836294,0,497.980588,"[7, 7, 2, 0, 4, 4, 1, 7, 2, 1, 2, 1, 7, 4, 1, ...",11030.433431
21,data_-1c8,0.74630,0.81093,0.748409,1,502.039971,"[4, 4, 0, 1, 7, 7, 6, 4, 0, 3, 0, 2, 4, 7, 6, ...",5947.477956
22,data_-1c4,0.98204,0.97017,0.498227,0,255.091090,"[0, 0, 2, 3, 0, 0, 1, 0, 2, 3, 2, 1, 0, 0, 1, ...",999.492076

### Autoencoder: Successfully preprocessed 2500 genes and 1000 cells.
Sample size
(1000, 2490)
(1000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 3
Save interval 15
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.9790, ARI= 0.9876
0.63887817 2163.202499858098

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.14685,0.25375,0.783752,0,474.330581,"[7, 7, 1, 3, 1, 1, 2, 7, 6, 4, 6, 6, 7, 4, 6, ...",9947.286645
1,data_0c8,0.14494,0.25462,0.840638,1,483.649311,"[7, 7, 2, 5, 5, 2, 4, 7, 3, 0, 3, 3, 7, 4, 3, ...",17873.372514
2,data_1c4,0.05535,0.07270,0.799814,0,242.892935,"[2, 3, 0, 2, 3, 3, 1, 1, 2, 3, 0, 3, 1, 2, 0, ...",8544.127834
3,data_1c4,0.05166,0.06959,0.781247,1,244.227224,"[1, 3, 3, 1, 0, 1, 2, 0, 1, 0, 3, 2, 2, 1, 3, ...",7781.927887
4,data_0c16,0.04423,0.12332,0.825567,0,1013.114172,"[4, 6, 5, 6, 2, 2, 9, 6, 5, 8, 1, 15, 0, 5, 0,...",29223.332786
5,data_0c16,0.05618,0.15795,0.835763,1,1102.356167,"[2, 3, 1, 9, 10, 10, 3, 6, 6, 10, 2, 14, 1, 8,...",31837.171966
6,data_1.5c16,0.00211,0.01677,0.816071,0,973.503752,"[9, 15, 2, 10, 15, 12, 1, 10, 3, 15, 14, 12, 1...",64533.675542
7,data_1.5c16,0.00219,0.01680,0.881548,1,1271.574971,"[4, 14, 8, 14, 0, 8, 3, 14, 2, 5, 7, 8, 8, 14,...",76750.942248
8,data_0c4,0.15406,0.19195,0.691007,0,249.815905,"[2, 0, 1, 2, 1, 2, 3, 0, 1, 1, 0, 1, 3, 2, 1, ...",3571.553096
9,data_0c4,0.49482,0.50743,0.855827,1,259.984236,"[2, 2, 3, 1, 2, 1, 0, 2, 3, 0, 3, 0, 2, 2, 0, ...",11650.477698
10,data_1.5c4,0.05334,0.07627,0.789022,0,255.100847,"[2, 1, 2, 2, 1, 2, 0, 1, 3, 3, 1, 3, 0, 1, 1, ...",7209.765653
11,data_1.5c4,0.00465,0.00829,0.680481,1,253.248610,"[0, 3, 3, 0, 3, 2, 1, 3, 2, 3, 2, 3, 1, 0, 1, ...",6238.530105
12,data_1.5c8,0.01342,0.03315,0.796331,0,494.899589,"[7, 1, 2, 7, 4, 1, 2, 4, 0, 0, 0, 0, 1, 6, 0, ...",26205.925605
13,data_1.5c8,0.01063,0.02559,0.764754,1,488.726228,"[2, 3, 0, 2, 3, 4, 0, 3, 1, 7, 1, 6, 4, 5, 1, ...",19132.547833
14,data_-1c16,0.24305,0.43408,0.837420,0,1003.240664,"[15, 0, 4, 14, 12, 12, 10, 4, 8, 6, 11, 7, 6, ...",15793.932978
15,data_-1c16,0.24079,0.43433,0.830783,1,1026.531404,"[13, 4, 5, 7, 2, 11, 8, 11, 15, 14, 12, 6, 4, ...",14008.196240
16,data_1c16,0.00724,0.03159,0.834014,0,1002.068875,"[4, 13, 12, 7, 8, 6, 5, 8, 13, 5, 11, 1, 6, 1,...",68101.427871
17,data_1c16,0.00141,0.01522,0.895190,1,1384.645223,"[8, 11, 13, 5, 6, 4, 14, 15, 0, 11, 7, 4, 12, ...",98837.082457
18,data_1c8,0.02752,0.06014,0.793901,0,501.622234,"[1, 5, 2, 5, 5, 5, 2, 5, 7, 4, 4, 4, 5, 2, 7, ...",18882.232061
19,data_1c8,0.01526,0.03752,0.761265,1,510.797434,"[7, 6, 1, 3, 3, 6, 5, 3, 2, 4, 0, 0, 6, 2, 4, ...",17231.741996
20,data_-1c8,0.60548,0.71097,0.836294,0,497.980588,"[7, 7, 2, 0, 4, 4, 1, 7, 2, 1, 2, 1, 7, 4, 1, ...",11030.433431
21,data_-1c8,0.74630,0.81093,0.748409,1,502.039971,"[4, 4, 0, 1, 7, 7, 6, 4, 0, 3, 0, 2, 4, 7, 6, ...",5947.477956
22,data_-1c4,0.98204,0.97017,0.498227,0,255.091090,"[0, 0, 2, 3, 0, 0, 1, 0, 2, 3, 2, 1, 0, 0, 1, ...",999.492076
23,data_-1c4,0.98761,0.97905,0.638878,1,260.371877,"[3, 3, 2, 1, 3, 3, 0, 3, 2, 1, 2, 0, 3, 3, 0, ...",2163.202500

['data_0c8', 'data_1c4', 'data_0c16', 'data_1.5c16', 'data_0c4', 'data_1.5c4', 'data_1.5c8', 'data_-1c16', 'data_1c16', 'data_1c8', 'data_-1c8', 'data_-1c4']
>>>>dataset data_0c8
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.2726, ARI= 0.1938
0.82713085 23953.92855964322

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.92856

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.4304, ARI= 0.3308
0.79636735 13627.697294649935

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295

>>>>dataset data_1c4
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2487)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.2337, ARI= 0.1989
0.6046165 7194.412251029579

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2487)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.2749, ARI= 0.2537
0.8019453 18992.328695636977

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696

>>>>dataset data_0c16
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2489)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0316, ARI= 0.0052
0.82592016 28610.915834450738

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2489)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0308, ARI= 0.0060
0.8567906 49950.44311997498

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120

>>>>dataset data_1.5c16
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2483)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0198, ARI= 0.0018
0.8084316 28250.280146111996

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2483)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0246, ARI= 0.0043
0.83092856 38738.86750375226

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504

>>>>dataset data_0c4
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.4778, ARI= 0.4173
0.75222117 14008.107197259398

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.5121, ARI= 0.4309
0.7504762 18560.44763779724

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638

>>>>dataset data_1.5c4
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2480)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0256, ARI= 0.0227
0.711073 14335.215286932184

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638
10,data_1.5c4,0.02272,0.02564,0.711073,0,737.897691,"[0, 3, 3, 3, 0, 3, 1, 3, 3, 1, 2, 2, 0, 3, 2, ...",14335.215287

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2480)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0038, ARI= 0.0005
0.69856524 14025.248948922746

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638
10,data_1.5c4,0.02272,0.02564,0.711073,0,737.897691,"[0, 3, 3, 3, 0, 3, 1, 3, 3, 1, 2, 2, 0, 3, 2, ...",14335.215287
11,data_1.5c4,0.00050,0.00381,0.698565,1,738.910077,"[0, 1, 2, 2, 0, 3, 1, 2, 2, 2, 3, 3, 0, 3, 2, ...",14025.248949

>>>>dataset data_1.5c8
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2482)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0508, ARI= 0.0286
0.80429524 35593.48359529765

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638
10,data_1.5c4,0.02272,0.02564,0.711073,0,737.897691,"[0, 3, 3, 3, 0, 3, 1, 3, 3, 1, 2, 2, 0, 3, 2, ...",14335.215287
11,data_1.5c4,0.00050,0.00381,0.698565,1,738.910077,"[0, 1, 2, 2, 0, 3, 1, 2, 2, 2, 3, 3, 0, 3, 2, ...",14025.248949
12,data_1.5c8,0.02856,0.05078,0.804295,0,759.419560,"[1, 3, 3, 6, 2, 3, 4, 6, 3, 0, 0, 7, 2, 6, 3, ...",35593.483595

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2482)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0498, ARI= 0.0289
0.82562345 35014.1647565374

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638
10,data_1.5c4,0.02272,0.02564,0.711073,0,737.897691,"[0, 3, 3, 3, 0, 3, 1, 3, 3, 1, 2, 2, 0, 3, 2, ...",14335.215287
11,data_1.5c4,0.00050,0.00381,0.698565,1,738.910077,"[0, 1, 2, 2, 0, 3, 1, 2, 2, 2, 3, 3, 0, 3, 2, ...",14025.248949
12,data_1.5c8,0.02856,0.05078,0.804295,0,759.419560,"[1, 3, 3, 6, 2, 3, 4, 6, 3, 0, 0, 7, 2, 6, 3, ...",35593.483595
13,data_1.5c8,0.02893,0.04977,0.825623,1,763.035550,"[0, 3, 1, 3, 0, 1, 7, 2, 1, 3, 6, 5, 0, 1, 3, ...",35014.164757

>>>>dataset data_-1c16
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0774, ARI= 0.0241
0.88960546 63012.84101188415

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638
10,data_1.5c4,0.02272,0.02564,0.711073,0,737.897691,"[0, 3, 3, 3, 0, 3, 1, 3, 3, 1, 2, 2, 0, 3, 2, ...",14335.215287
11,data_1.5c4,0.00050,0.00381,0.698565,1,738.910077,"[0, 1, 2, 2, 0, 3, 1, 2, 2, 2, 3, 3, 0, 3, 2, ...",14025.248949
12,data_1.5c8,0.02856,0.05078,0.804295,0,759.419560,"[1, 3, 3, 6, 2, 3, 4, 6, 3, 0, 0, 7, 2, 6, 3, ...",35593.483595
13,data_1.5c8,0.02893,0.04977,0.825623,1,763.035550,"[0, 3, 1, 3, 0, 1, 7, 2, 1, 3, 6, 5, 0, 1, 3, ...",35014.164757
14,data_-1c16,0.02413,0.07744,0.889605,0,1220.914919,"[15, 13, 13, 12, 7, 15, 3, 14, 8, 1, 4, 11, 15...",63012.841012

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0909, ARI= 0.0362
0.8022664 15113.020946906056

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638
10,data_1.5c4,0.02272,0.02564,0.711073,0,737.897691,"[0, 3, 3, 3, 0, 3, 1, 3, 3, 1, 2, 2, 0, 3, 2, ...",14335.215287
11,data_1.5c4,0.00050,0.00381,0.698565,1,738.910077,"[0, 1, 2, 2, 0, 3, 1, 2, 2, 2, 3, 3, 0, 3, 2, ...",14025.248949
12,data_1.5c8,0.02856,0.05078,0.804295,0,759.419560,"[1, 3, 3, 6, 2, 3, 4, 6, 3, 0, 0, 7, 2, 6, 3, ...",35593.483595
13,data_1.5c8,0.02893,0.04977,0.825623,1,763.035550,"[0, 3, 1, 3, 0, 1, 7, 2, 1, 3, 6, 5, 0, 1, 3, ...",35014.164757
14,data_-1c16,0.02413,0.07744,0.889605,0,1220.914919,"[15, 13, 13, 12, 7, 15, 3, 14, 8, 1, 4, 11, 15...",63012.841012
15,data_-1c16,0.03625,0.09090,0.802266,1,873.962963,"[11, 2, 12, 1, 11, 9, 7, 8, 3, 6, 3, 14, 9, 14...",15113.020947

>>>>dataset data_1c16
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2480)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0243, ARI= 0.0039
0.80845344 35845.87302753179

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638
10,data_1.5c4,0.02272,0.02564,0.711073,0,737.897691,"[0, 3, 3, 3, 0, 3, 1, 3, 3, 1, 2, 2, 0, 3, 2, ...",14335.215287
11,data_1.5c4,0.00050,0.00381,0.698565,1,738.910077,"[0, 1, 2, 2, 0, 3, 1, 2, 2, 2, 3, 3, 0, 3, 2, ...",14025.248949
12,data_1.5c8,0.02856,0.05078,0.804295,0,759.419560,"[1, 3, 3, 6, 2, 3, 4, 6, 3, 0, 0, 7, 2, 6, 3, ...",35593.483595
13,data_1.5c8,0.02893,0.04977,0.825623,1,763.035550,"[0, 3, 1, 3, 0, 1, 7, 2, 1, 3, 6, 5, 0, 1, 3, ...",35014.164757
14,data_-1c16,0.02413,0.07744,0.889605,0,1220.914919,"[15, 13, 13, 12, 7, 15, 3, 14, 8, 1, 4, 11, 15...",63012.841012
15,data_-1c16,0.03625,0.09090,0.802266,1,873.962963,"[11, 2, 12, 1, 11, 9, 7, 8, 3, 6, 3, 14, 9, 14...",15113.020947
16,data_1c16,0.00385,0.02432,0.808453,0,792.935996,"[15, 12, 1, 2, 6, 0, 9, 8, 14, 4, 0, 2, 10, 12...",35845.873028

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2480)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0187, ARI= 0.0023
0.843045 41650.67406009348

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638
10,data_1.5c4,0.02272,0.02564,0.711073,0,737.897691,"[0, 3, 3, 3, 0, 3, 1, 3, 3, 1, 2, 2, 0, 3, 2, ...",14335.215287
11,data_1.5c4,0.00050,0.00381,0.698565,1,738.910077,"[0, 1, 2, 2, 0, 3, 1, 2, 2, 2, 3, 3, 0, 3, 2, ...",14025.248949
12,data_1.5c8,0.02856,0.05078,0.804295,0,759.419560,"[1, 3, 3, 6, 2, 3, 4, 6, 3, 0, 0, 7, 2, 6, 3, ...",35593.483595
13,data_1.5c8,0.02893,0.04977,0.825623,1,763.035550,"[0, 3, 1, 3, 0, 1, 7, 2, 1, 3, 6, 5, 0, 1, 3, ...",35014.164757
14,data_-1c16,0.02413,0.07744,0.889605,0,1220.914919,"[15, 13, 13, 12, 7, 15, 3, 14, 8, 1, 4, 11, 15...",63012.841012
15,data_-1c16,0.03625,0.09090,0.802266,1,873.962963,"[11, 2, 12, 1, 11, 9, 7, 8, 3, 6, 3, 14, 9, 14...",15113.020947
16,data_1c16,0.00385,0.02432,0.808453,0,792.935996,"[15, 12, 1, 2, 6, 0, 9, 8, 14, 4, 0, 2, 10, 12...",35845.873028
17,data_1c16,0.00229,0.01868,0.843045,1,885.956172,"[11, 1, 1, 9, 7, 12, 4, 13, 9, 5, 12, 13, 11, ...",41650.674060

>>>>dataset data_1c8
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2486)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.1529, ARI= 0.1083
0.8284337 23341.53182673018

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638
10,data_1.5c4,0.02272,0.02564,0.711073,0,737.897691,"[0, 3, 3, 3, 0, 3, 1, 3, 3, 1, 2, 2, 0, 3, 2, ...",14335.215287
11,data_1.5c4,0.00050,0.00381,0.698565,1,738.910077,"[0, 1, 2, 2, 0, 3, 1, 2, 2, 2, 3, 3, 0, 3, 2, ...",14025.248949
12,data_1.5c8,0.02856,0.05078,0.804295,0,759.419560,"[1, 3, 3, 6, 2, 3, 4, 6, 3, 0, 0, 7, 2, 6, 3, ...",35593.483595
13,data_1.5c8,0.02893,0.04977,0.825623,1,763.035550,"[0, 3, 1, 3, 0, 1, 7, 2, 1, 3, 6, 5, 0, 1, 3, ...",35014.164757
14,data_-1c16,0.02413,0.07744,0.889605,0,1220.914919,"[15, 13, 13, 12, 7, 15, 3, 14, 8, 1, 4, 11, 15...",63012.841012
15,data_-1c16,0.03625,0.09090,0.802266,1,873.962963,"[11, 2, 12, 1, 11, 9, 7, 8, 3, 6, 3, 14, 9, 14...",15113.020947
16,data_1c16,0.00385,0.02432,0.808453,0,792.935996,"[15, 12, 1, 2, 6, 0, 9, 8, 14, 4, 0, 2, 10, 12...",35845.873028
17,data_1c16,0.00229,0.01868,0.843045,1,885.956172,"[11, 1, 1, 9, 7, 12, 4, 13, 9, 5, 12, 13, 11, ...",41650.674060
18,data_1c8,0.10826,0.15287,0.828434,0,769.379936,"[7, 7, 2, 1, 3, 0, 4, 2, 5, 6, 6, 2, 3, 2, 5, ...",23341.531827

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2486)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.0579, ARI= 0.0329
0.8054878 39835.86607303861

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638
10,data_1.5c4,0.02272,0.02564,0.711073,0,737.897691,"[0, 3, 3, 3, 0, 3, 1, 3, 3, 1, 2, 2, 0, 3, 2, ...",14335.215287
11,data_1.5c4,0.00050,0.00381,0.698565,1,738.910077,"[0, 1, 2, 2, 0, 3, 1, 2, 2, 2, 3, 3, 0, 3, 2, ...",14025.248949
12,data_1.5c8,0.02856,0.05078,0.804295,0,759.419560,"[1, 3, 3, 6, 2, 3, 4, 6, 3, 0, 0, 7, 2, 6, 3, ...",35593.483595
13,data_1.5c8,0.02893,0.04977,0.825623,1,763.035550,"[0, 3, 1, 3, 0, 1, 7, 2, 1, 3, 6, 5, 0, 1, 3, ...",35014.164757
14,data_-1c16,0.02413,0.07744,0.889605,0,1220.914919,"[15, 13, 13, 12, 7, 15, 3, 14, 8, 1, 4, 11, 15...",63012.841012
15,data_-1c16,0.03625,0.09090,0.802266,1,873.962963,"[11, 2, 12, 1, 11, 9, 7, 8, 3, 6, 3, 14, 9, 14...",15113.020947
16,data_1c16,0.00385,0.02432,0.808453,0,792.935996,"[15, 12, 1, 2, 6, 0, 9, 8, 14, 4, 0, 2, 10, 12...",35845.873028
17,data_1c16,0.00229,0.01868,0.843045,1,885.956172,"[11, 1, 1, 9, 7, 12, 4, 13, 9, 5, 12, 13, 11, ...",41650.674060
18,data_1c8,0.10826,0.15287,0.828434,0,769.379936,"[7, 7, 2, 1, 3, 0, 4, 2, 5, 6, 6, 2, 3, 2, 5, ...",23341.531827
19,data_1c8,0.03292,0.05787,0.805488,1,792.889971,"[7, 3, 1, 3, 4, 7, 5, 6, 3, 7, 0, 6, 4, 6, 3, ...",39835.866073

>>>>dataset data_-1c8
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.6631, ARI= 0.5333
0.8504761 24116.222699485537

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638
10,data_1.5c4,0.02272,0.02564,0.711073,0,737.897691,"[0, 3, 3, 3, 0, 3, 1, 3, 3, 1, 2, 2, 0, 3, 2, ...",14335.215287
11,data_1.5c4,0.00050,0.00381,0.698565,1,738.910077,"[0, 1, 2, 2, 0, 3, 1, 2, 2, 2, 3, 3, 0, 3, 2, ...",14025.248949
12,data_1.5c8,0.02856,0.05078,0.804295,0,759.419560,"[1, 3, 3, 6, 2, 3, 4, 6, 3, 0, 0, 7, 2, 6, 3, ...",35593.483595
13,data_1.5c8,0.02893,0.04977,0.825623,1,763.035550,"[0, 3, 1, 3, 0, 1, 7, 2, 1, 3, 6, 5, 0, 1, 3, ...",35014.164757
14,data_-1c16,0.02413,0.07744,0.889605,0,1220.914919,"[15, 13, 13, 12, 7, 15, 3, 14, 8, 1, 4, 11, 15...",63012.841012
15,data_-1c16,0.03625,0.09090,0.802266,1,873.962963,"[11, 2, 12, 1, 11, 9, 7, 8, 3, 6, 3, 14, 9, 14...",15113.020947
16,data_1c16,0.00385,0.02432,0.808453,0,792.935996,"[15, 12, 1, 2, 6, 0, 9, 8, 14, 4, 0, 2, 10, 12...",35845.873028
17,data_1c16,0.00229,0.01868,0.843045,1,885.956172,"[11, 1, 1, 9, 7, 12, 4, 13, 9, 5, 12, 13, 11, ...",41650.674060
18,data_1c8,0.10826,0.15287,0.828434,0,769.379936,"[7, 7, 2, 1, 3, 0, 4, 2, 5, 6, 6, 2, 3, 2, 5, ...",23341.531827
19,data_1c8,0.03292,0.05787,0.805488,1,792.889971,"[7, 3, 1, 3, 4, 7, 5, 6, 3, 7, 0, 6, 4, 6, 3, ...",39835.866073
20,data_-1c8,0.53329,0.66314,0.850476,0,777.813661,"[6, 3, 7, 0, 6, 6, 4, 2, 7, 0, 1, 5, 3, 6, 5, ...",24116.222699

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2494)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.5888, ARI= 0.4559
0.78507465 14309.782578590264

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638
10,data_1.5c4,0.02272,0.02564,0.711073,0,737.897691,"[0, 3, 3, 3, 0, 3, 1, 3, 3, 1, 2, 2, 0, 3, 2, ...",14335.215287
11,data_1.5c4,0.00050,0.00381,0.698565,1,738.910077,"[0, 1, 2, 2, 0, 3, 1, 2, 2, 2, 3, 3, 0, 3, 2, ...",14025.248949
12,data_1.5c8,0.02856,0.05078,0.804295,0,759.419560,"[1, 3, 3, 6, 2, 3, 4, 6, 3, 0, 0, 7, 2, 6, 3, ...",35593.483595
13,data_1.5c8,0.02893,0.04977,0.825623,1,763.035550,"[0, 3, 1, 3, 0, 1, 7, 2, 1, 3, 6, 5, 0, 1, 3, ...",35014.164757
14,data_-1c16,0.02413,0.07744,0.889605,0,1220.914919,"[15, 13, 13, 12, 7, 15, 3, 14, 8, 1, 4, 11, 15...",63012.841012
15,data_-1c16,0.03625,0.09090,0.802266,1,873.962963,"[11, 2, 12, 1, 11, 9, 7, 8, 3, 6, 3, 14, 9, 14...",15113.020947
16,data_1c16,0.00385,0.02432,0.808453,0,792.935996,"[15, 12, 1, 2, 6, 0, 9, 8, 14, 4, 0, 2, 10, 12...",35845.873028
17,data_1c16,0.00229,0.01868,0.843045,1,885.956172,"[11, 1, 1, 9, 7, 12, 4, 13, 9, 5, 12, 13, 11, ...",41650.674060
18,data_1c8,0.10826,0.15287,0.828434,0,769.379936,"[7, 7, 2, 1, 3, 0, 4, 2, 5, 6, 6, 2, 3, 2, 5, ...",23341.531827
19,data_1c8,0.03292,0.05787,0.805488,1,792.889971,"[7, 3, 1, 3, 4, 7, 5, 6, 3, 7, 0, 6, 4, 6, 3, ...",39835.866073
20,data_-1c8,0.53329,0.66314,0.850476,0,777.813661,"[6, 3, 7, 0, 6, 6, 4, 2, 7, 0, 1, 5, 3, 6, 5, ...",24116.222699
21,data_-1c8,0.45589,0.58885,0.785075,1,768.034425,"[2, 5, 6, 1, 2, 2, 6, 4, 0, 1, 7, 3, 5, 2, 3, ...",14309.782579

>>>>dataset data_-1c4
### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2492)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0003333333333333333 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.5533, ARI= 0.4535
0.7120814 11465.20662253818

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638
10,data_1.5c4,0.02272,0.02564,0.711073,0,737.897691,"[0, 3, 3, 3, 0, 3, 1, 3, 3, 1, 2, 2, 0, 3, 2, ...",14335.215287
11,data_1.5c4,0.00050,0.00381,0.698565,1,738.910077,"[0, 1, 2, 2, 0, 3, 1, 2, 2, 2, 3, 3, 0, 3, 2, ...",14025.248949
12,data_1.5c8,0.02856,0.05078,0.804295,0,759.419560,"[1, 3, 3, 6, 2, 3, 4, 6, 3, 0, 0, 7, 2, 6, 3, ...",35593.483595
13,data_1.5c8,0.02893,0.04977,0.825623,1,763.035550,"[0, 3, 1, 3, 0, 1, 7, 2, 1, 3, 6, 5, 0, 1, 3, ...",35014.164757
14,data_-1c16,0.02413,0.07744,0.889605,0,1220.914919,"[15, 13, 13, 12, 7, 15, 3, 14, 8, 1, 4, 11, 15...",63012.841012
15,data_-1c16,0.03625,0.09090,0.802266,1,873.962963,"[11, 2, 12, 1, 11, 9, 7, 8, 3, 6, 3, 14, 9, 14...",15113.020947
16,data_1c16,0.00385,0.02432,0.808453,0,792.935996,"[15, 12, 1, 2, 6, 0, 9, 8, 14, 4, 0, 2, 10, 12...",35845.873028
17,data_1c16,0.00229,0.01868,0.843045,1,885.956172,"[11, 1, 1, 9, 7, 12, 4, 13, 9, 5, 12, 13, 11, ...",41650.674060
18,data_1c8,0.10826,0.15287,0.828434,0,769.379936,"[7, 7, 2, 1, 3, 0, 4, 2, 5, 6, 6, 2, 3, 2, 5, ...",23341.531827
19,data_1c8,0.03292,0.05787,0.805488,1,792.889971,"[7, 3, 1, 3, 4, 7, 5, 6, 3, 7, 0, 6, 4, 6, 3, ...",39835.866073
20,data_-1c8,0.53329,0.66314,0.850476,0,777.813661,"[6, 3, 7, 0, 6, 6, 4, 2, 7, 0, 1, 5, 3, 6, 5, ...",24116.222699
21,data_-1c8,0.45589,0.58885,0.785075,1,768.034425,"[2, 5, 6, 1, 2, 2, 6, 4, 0, 1, 7, 3, 5, 2, 3, ...",14309.782579
22,data_-1c4,0.45347,0.55331,0.712081,0,769.432920,"[2, 0, 3, 0, 2, 0, 3, 0, 3, 2, 1, 1, 2, 0, 3, ...",11465.206623

### Autoencoder: Successfully preprocessed 2500 genes and 3000 cells.
Sample size
(3000, 2492)
(3000,)
...Pretraining autoencoder...
Pretrained weights are saved to ./ae_weights.h5
Update interval 11
Save interval 55
Initializing cluster centers with k-means.
delta_label  0.0006666666666666666 < tol  0.001
Reached tolerance threshold. Stopping training.
saving model to: scDeepCluster/scDeepCluster_model_final.h5
Final: NMI= 0.5730, ARI= 0.4324
0.71947753 15327.129387860026

,dataset,ARI,NMI,sil,run,time,pred,cal
0,data_0c8,0.19379,0.27255,0.827131,0,750.849272,"[7, 0, 2, 0, 5, 7, 6, 3, 2, 0, 5, 4, 1, 3, 2, ...",23953.928560
1,data_0c8,0.33077,0.43045,0.796367,1,738.992929,"[4, 3, 6, 3, 4, 4, 1, 2, 6, 3, 6, 1, 0, 4, 5, ...",13627.697295
2,data_1c4,0.19891,0.23370,0.604617,0,727.817579,"[3, 2, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 3, 1, 0, ...",7194.412251
3,data_1c4,0.25370,0.27492,0.801945,1,740.618314,"[0, 2, 3, 1, 0, 1, 2, 1, 3, 1, 3, 3, 0, 1, 3, ...",18992.328696
4,data_0c16,0.00517,0.03157,0.825920,0,871.774545,"[7, 15, 8, 4, 0, 15, 14, 11, 5, 12, 5, 8, 0, 1...",28610.915834
5,data_0c16,0.00597,0.03076,0.856791,1,972.886088,"[1, 9, 11, 2, 13, 15, 7, 7, 15, 7, 8, 11, 6, 1...",49950.443120
6,data_1.5c16,0.00181,0.01978,0.808432,0,800.266054,"[11, 6, 10, 6, 11, 7, 13, 8, 9, 6, 8, 1, 11, 1...",28250.280146
7,data_1.5c16,0.00435,0.02463,0.830929,1,910.120164,"[11, 15, 1, 13, 4, 15, 3, 8, 5, 1, 12, 1, 9, 1...",38738.867504
8,data_0c4,0.41728,0.47779,0.752221,0,749.196795,"[3, 1, 2, 1, 3, 3, 2, 3, 2, 1, 0, 2, 3, 1, 0, ...",14008.107197
9,data_0c4,0.43085,0.51207,0.750476,1,742.072952,"[1, 2, 0, 2, 1, 1, 0, 1, 0, 2, 3, 3, 1, 1, 3, ...",18560.447638
10,data_1.5c4,0.02272,0.02564,0.711073,0,737.897691,"[0, 3, 3, 3, 0, 3, 1, 3, 3, 1, 2, 2, 0, 3, 2, ...",14335.215287
11,data_1.5c4,0.00050,0.00381,0.698565,1,738.910077,"[0, 1, 2, 2, 0, 3, 1, 2, 2, 2, 3, 3, 0, 3, 2, ...",14025.248949
12,data_1.5c8,0.02856,0.05078,0.804295,0,759.419560,"[1, 3, 3, 6, 2, 3, 4, 6, 3, 0, 0, 7, 2, 6, 3, ...",35593.483595
13,data_1.5c8,0.02893,0.04977,0.825623,1,763.035550,"[0, 3, 1, 3, 0, 1, 7, 2, 1, 3, 6, 5, 0, 1, 3, ...",35014.164757
14,data_-1c16,0.02413,0.07744,0.889605,0,1220.914919,"[15, 13, 13, 12, 7, 15, 3, 14, 8, 1, 4, 11, 15...",63012.841012
15,data_-1c16,0.03625,0.09090,0.802266,1,873.962963,"[11, 2, 12, 1, 11, 9, 7, 8, 3, 6, 3, 14, 9, 14...",15113.020947
16,data_1c16,0.00385,0.02432,0.808453,0,792.935996,"[15, 12, 1, 2, 6, 0, 9, 8, 14, 4, 0, 2, 10, 12...",35845.873028
17,data_1c16,0.00229,0.01868,0.843045,1,885.956172,"[11, 1, 1, 9, 7, 12, 4, 13, 9, 5, 12, 13, 11, ...",41650.674060
18,data_1c8,0.10826,0.15287,0.828434,0,769.379936,"[7, 7, 2, 1, 3, 0, 4, 2, 5, 6, 6, 2, 3, 2, 5, ...",23341.531827
19,data_1c8,0.03292,0.05787,0.805488,1,792.889971,"[7, 3, 1, 3, 4, 7, 5, 6, 3, 7, 0, 6, 4, 6, 3, ...",39835.866073
20,data_-1c8,0.53329,0.66314,0.850476,0,777.813661,"[6, 3, 7, 0, 6, 6, 4, 2, 7, 0, 1, 5, 3, 6, 5, ...",24116.222699
21,data_-1c8,0.45589,0.58885,0.785075,1,768.034425,"[2, 5, 6, 1, 2, 2, 6, 4, 0, 1, 7, 3, 5, 2, 3, ...",14309.782579
22,data_-1c4,0.45347,0.55331,0.712081,0,769.432920,"[2, 0, 3, 0, 2, 0, 3, 0, 3, 2, 1, 1, 2, 0, 3, ...",11465.206623
23,data_-1c4,0.43241,0.57304,0.719478,1,767.414353,"[2, 0, 3, 0, 2, 0, 3, 0, 3, 2, 1, 1, 2, 0, 3, ...",15327.129388

In [ ]:
df.groupby("dataset").mean()

In [ ]:
df