In [1]:
import pandas as pd
import glob2
import os

In [2]:
path = ".."
files = glob2.glob(f'{path}/real_data/*.h5')
files = [f[len(f"{path}/real_data/"):-3] for f in files]
print(files)

['Quake_Smart-seq2_Trachea', 'Quake_Smart-seq2_Diaphragm', 'Quake_10x_Spleen', 'Young', 'mouse_ES_cell', 'Adam', 'Quake_10x_Bladder', 'Quake_Smart-seq2_Lung', 'Quake_10x_Limb_Muscle', 'worm_neuron_cell', 'mouse_bladder_cell', 'Romanov', 'Quake_Smart-seq2_Limb_Muscle', 'Muraro', '10X_PBMC']

In [18]:
# category = "real_data"
category = "balanced_data"
# category = "imbalanced_data"
# os.listdir(f"results/{category}")

In [19]:
df = pd.DataFrame(columns = ["dataset", "method", "run", "ARI", "NMI", "sil","time", "pred" , "cal"])
for f  in os.listdir(f"results/{category}"):
    dataset = f.split(".h5")[0]
    method = f.split(".")[-2].split("_")[1]
    run = f.split(".")[-2].split("_")[2]
    d =pd.read_csv(f"results/{category}/{f}")
    values =d.values[:, 1]

    ari = values[0]
    nmi = values[1]
#     if len(values)>2:
    sil = values[2]
    cal = values[3]
    time = values[4]
    pred = values[5:]
#     else:
#         (cal, sil,pred,time) = (None, None, None, None)
    df.loc[df.shape[0]] = [dataset, method, run, ari, nmi, sil,time, pred, cal]
    

df

,dataset,method,run,ARI,NMI,sil,time,pred,cal
0,data_0c16,soup,1,0.082494,0.150567,0.093683,28.944684,"[3.0, 11.0, 12.0, 16.0, 13.0, 5.0, 5.0, 9.0, 1...",160.806293
1,data_0c4,raceid,2,0.415866,0.633355,0.009082,16.282906,"[1.0, 1.0, 2.0, 3.0, 1.0, 2.0, 4.0, 1.0, 2.0, ...",823.817589
2,data_1.5c16,soup,1,0.017294,0.052681,0.036011,21.509316,"[5.0, 5.0, 7.0, 7.0, 10.0, 4.0, 4.0, 13.0, 4.0...",46.154103
3,data_1.5c4,raceid,2,0.768263,0.713030,0.492348,17.873797,"[1.0, 1.0, 2.0, 3.0, 1.0, 1.0, 4.0, 1.0, 2.0, ...",832.881078
4,data_0c8,cidr,2,0.157201,0.219804,-0.023507,31.802750,"[1.0, 2.0, 3.0, 4.0, 1.0, 5.0, 6.0, 1.0, 7.0, ...",2.916477
...,...,...,...,...,...,...,...,...,...
67,data_1.5c16,soup,2,0.016450,0.053331,0.036491,19.011639,"[2.0, 2.0, 1.0, 1.0, 10.0, 15.0, 15.0, 6.0, 15...",45.687486
68,data_-1c8,raceid,2,0.772113,0.806873,0.442172,1.254105,"[1.0, 1.0, 2.0, 3.0, 4.0, 4.0, 5.0, 1.0, 2.0, ...",2276.415954
69,data_1.5c8,cidr,2,0.040539,0.071726,-0.021285,28.178602,"[1.0, 1.0, 2.0, 3.0, 4.0, 1.0, 3.0, 2.0, 5.0, ...",2.921705
70,data_0c16,cidr,1,0.034810,0.089916,-0.033095,2.568265,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 7.0, 6.0, ...",2.586317
71,data_0c4,raceid,1,0.415866,0.633355,0.009082,16.265086,"[1.0, 1.0, 2.0, 3.0, 1.0, 2.0, 4.0, 1.0, 2.0, ...",823.817589

In [20]:
df.groupby(["dataset", "method"])["ARI"].mean().unstack("dataset")

dataset,data_-1c16,data_-1c4,data_-1c8,data_0c16,data_0c4,data_0c8,data_1.5c16,data_1.5c4,data_1.5c8,data_1c16,data_1c4,data_1c8
method,,,,,,,,,,,,
cidr,0.036308,0.555501,0.202166,0.034810,0.276834,0.157201,0.009501,0.090513,0.040539,0.016951,0.206195,0.058265
raceid,0.017405,0.668728,0.772113,0.590393,0.415866,0.731600,0.043779,0.768263,0.740161,0.370222,0.516737,0.717332
soup,0.132803,0.719888,0.319614,0.082494,0.612191,0.289725,0.016872,0.508273,0.010488,0.013220,0.563386,0.069043

In [21]:
df.to_pickle(f"{category}.pkl")

In [22]:
df

,dataset,method,run,ARI,NMI,sil,time,pred,cal
0,data_0c16,soup,1,0.082494,0.150567,0.093683,28.944684,"[3.0, 11.0, 12.0, 16.0, 13.0, 5.0, 5.0, 9.0, 1...",160.806293
1,data_0c4,raceid,2,0.415866,0.633355,0.009082,16.282906,"[1.0, 1.0, 2.0, 3.0, 1.0, 2.0, 4.0, 1.0, 2.0, ...",823.817589
2,data_1.5c16,soup,1,0.017294,0.052681,0.036011,21.509316,"[5.0, 5.0, 7.0, 7.0, 10.0, 4.0, 4.0, 13.0, 4.0...",46.154103
3,data_1.5c4,raceid,2,0.768263,0.713030,0.492348,17.873797,"[1.0, 1.0, 2.0, 3.0, 1.0, 1.0, 4.0, 1.0, 2.0, ...",832.881078
4,data_0c8,cidr,2,0.157201,0.219804,-0.023507,31.802750,"[1.0, 2.0, 3.0, 4.0, 1.0, 5.0, 6.0, 1.0, 7.0, ...",2.916477
...,...,...,...,...,...,...,...,...,...
67,data_1.5c16,soup,2,0.016450,0.053331,0.036491,19.011639,"[2.0, 2.0, 1.0, 1.0, 10.0, 15.0, 15.0, 6.0, 15...",45.687486
68,data_-1c8,raceid,2,0.772113,0.806873,0.442172,1.254105,"[1.0, 1.0, 2.0, 3.0, 4.0, 4.0, 5.0, 1.0, 2.0, ...",2276.415954
69,data_1.5c8,cidr,2,0.040539,0.071726,-0.021285,28.178602,"[1.0, 1.0, 2.0, 3.0, 4.0, 1.0, 3.0, 2.0, 5.0, ...",2.921705
70,data_0c16,cidr,1,0.034810,0.089916,-0.033095,2.568265,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 7.0, 6.0, ...",2.586317
71,data_0c4,raceid,1,0.415866,0.633355,0.009082,16.265086,"[1.0, 1.0, 2.0, 3.0, 1.0, 2.0, 4.0, 1.0, 2.0, ...",823.817589