In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("b.csv")

In [3]:
df

      Unnamed: 0         x
0              1  0.535090
1              2  0.661451
2              3  1.000000
3              4  2.000000
4              5  3.000000
...          ...       ...
2097        2098  5.000000
2098        2099  2.000000
2099        2100  5.000000
2100        2101  6.000000
2101        2102  2.000000

[2102 rows x 2 columns]